<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Connection factory --> 
<!-- 	<bean id="jmsConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean"> -->
<!-- 		<property name="brokerURL" value="${jmsUrl}"/> -->
<!-- 		<property name="useAsyncSend" value="true"/> -->
<!-- 	</bean> -->

	<!-- Queue -->
<!-- 	<bean id="jmsQueue" class="org.apache.activemq.command.ActiveMQQueue"> -->
<!-- 	    <constructor-arg index="0" value="tesetQueue" /> -->
<!-- 	</bean> -->

	<!-- Connection factory --> 
	<bean id="jmsConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">  
	    <property name="jndiName" value="jms/myConnectionFactory"/>  
	</bean>  
	
<!-- 	<bean id="connectionFactory" class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter">  -->
<!-- 	   <property name="targetConnectionFactory" ref="jmsConnectionFactory"/>  -->
<!-- 	   <property name="username" value="username" /> -->
<!-- 	   <property name="password" value="password" /> -->
<!-- 	</bean> -->

	<!-- Sender --> 
	<bean id="jmsSender" class="com.wms.jms.sender.MessageQueueSender"/>

	<!-- Receiver -->
	<bean id="jmsReceiver" class="com.wms.jms.receiver.MessageQueueReceiver"/>
	
	<!-- Queue -->
	<bean id="jmsQueue" class="org.springframework.jndi.JndiObjectFactoryBean">  
		<property name="jndiName" value="jms/myQueue"/>  
	</bean>  
	
	<!-- Spring JMS Template -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsConnectionFactory"></property>
		<property name="defaultDestination" ref="jmsQueue"></property>
	</bean>

	<!-- Message Listener -->
	<bean id="listenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsConnectionFactory"></property>
		<property name="destination" ref="jmsQueue"></property>
		<property name="messageListener" ref="jmsReceiver"></property>
		<property name="autoStartup" value="true" />
	</bean>

</beans>