<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.BasPackageMybatisDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.BasPackage" >
	<result column="packid" property="packid"/>
	<result column="descr" property="descr"/>
	<result column="packuom1" property="packuom1"/>
	<result column="qty1" property="qty1"/>
	<result column="descr1" property="descr1"/>

</resultMap>
       
<!-- Bas_Package table all fields -->
<sql id="Base_Column_List" >
	 packid,descr,packuom1,qty1,descr1
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.packid != null and condition.packid != ''" >
	    and packid like  '%${condition.packid}%'
	</if>
	<if test="condition.descr != null and condition.descr != ''" >
	    and descr  like  '%${condition.descr}%'
	</if>


</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into Bas_Package(packid,descr,packuom1,qty1,descr1)
 values(#{packid},#{descr},#{packuom1},#{qty1},#{descr1})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update Bas_Package set descr=#{descr},packuom1=#{packuom1},qty1=#{qty1},descr1=#{descr1} where packid=#{packid}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update Bas_Package set 
	<trim  suffixOverrides="," >
	<if test="addwho != null  ">
		addwho=#{addwho},
	</if>
	<if test="cartonizeuom1 != null  ">
		cartonizeuom1=#{cartonizeuom1},
	</if>
	<if test="descr1 != null  ">
		descr1=#{descr1},
	</if>
	<if test="qty1 != null  ">
		qty1=#{qty1},
	</if>
	<if test="packuom1 != null  ">
		packuom1=#{packuom1},
	</if>
	<if test="descr != null  ">
		descr=#{descr},
	</if>


	</trim> where packid=#{packid}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from Bas_Package where packid = #{packid}
</delete>
 
<!-- 根据id查询 包装 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from Bas_Package where packid = #{packid}
</select>

	<!-- 根据id查询 包装 -->
	<select id="queryBydescr"  resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from Bas_Package where descr = #{condition.descr}
	</select>

<!-- 包装 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from Bas_Package 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询包装列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from Bas_Package 
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
	<!-- 查询包装列表 -->
	<select id="queryListByAll" resultMap="BaseResultMap"  parameterType="Object">
		select
		*
		from Bas_Package
	</select>
</mapper>   
