<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.BasSkuLeakMybatisDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.BasSkuLeak" >
	<result column="id" property="id"/>
	<result column="customerid" property="customerid"/>
	<result column="sku" property="sku"/>
	<result column="standard" property="standard"/>
	<result column="lotatt06" property="lotatt06"/>
	<result column="lotatt11" property="lotatt11"/>
	<result column="conversionRatio" property="conversionRatio"/>
	<result column="unit" property="unit"/>
	<result column="productline" property="productline"/>
	<result column="supplier" property="supplier"/>
	<result column="userdefine1" property="userdefine1"/>
	<result column="userdefine2" property="userdefine2"/>
	<result column="userdefine3" property="userdefine3"/>
	<result column="userdefine4" property="userdefine4"/>
	<result column="userdefine5" property="userdefine5"/>
	<result column="addwho" property="addwho"/>
	<result column="addtime" property="addtime"/>
	<result column="editwho" property="editwho"/>
	<result column="edittime" property="edittime"/>
</resultMap>
       
<!-- bas_sku_leak table all fields -->
<sql id="Base_Column_List" >
	 id,customerid,sku,standard,lotatt06,lotatt11,conversionRatio,unit,productline,supplier,userdefine1,userdefine2,userdefine3,userdefine4,userdefine5,addwho,addtime,editwho,edittime
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.id != null and condition.id != ''" >
	    and id =  #{condition.id}
	</if>
	<if test="condition.customerid != null and condition.customerid != ''" >
	    and customerid =  #{condition.customerid}
	</if>
	<if test="condition.sku != null and condition.sku != ''" >
	    and sku =  #{condition.sku}
	</if>
	<if test="condition.standard != null and condition.standard != ''" >
	    and standard =  #{condition.standard}
	</if>
	<if test="condition.lotatt06 != null and condition.lotatt06 != ''" >
	    and lotatt06 =  #{condition.lotatt06}
	</if>
	<if test="condition.lotatt11 != null and condition.lotatt11 != ''" >
	    and lotatt11 =  #{condition.lotatt11}
	</if>
	<if test="condition.conversionRatio != null and condition.conversionRatio != ''" >
	    and conversionRatio =  #{condition.conversionRatio}
	</if>
	<if test="condition.unit != null and condition.unit != ''" >
	    and unit =  #{condition.unit}
	</if>
	<if test="condition.productline != null and condition.productline != ''" >
	    and productline =  #{condition.productline}
	</if>
	<if test="condition.supplier != null and condition.supplier != ''" >
	    and supplier =  #{condition.supplier}
	</if>
	<if test="condition.userdefine1 != null and condition.userdefine1 != ''" >
	    and userdefine1 =  #{condition.userdefine1}
	</if>
	<if test="condition.userdefine2 != null and condition.userdefine2 != ''" >
	    and userdefine2 =  #{condition.userdefine2}
	</if>
	<if test="condition.userdefine3 != null and condition.userdefine3 != ''" >
	    and userdefine3 =  #{condition.userdefine3}
	</if>
	<if test="condition.userdefine4 != null and condition.userdefine4 != ''" >
	    and userdefine4 =  #{condition.userdefine4}
	</if>
	<if test="condition.userdefine5 != null and condition.userdefine5 != ''" >
	    and userdefine5 =  #{condition.userdefine5}
	</if>
	<if test="condition.addwho != null and condition.addwho != ''" >
	    and addwho =  #{condition.addwho}
	</if>
	<if test="condition.addtime != null and condition.addtime != ''" >
	    and addtime =  #{condition.addtime}
	</if>
	<if test="condition.editwho != null and condition.editwho != ''" >
	    and editwho =  #{condition.editwho}
	</if>
	<if test="condition.edittime != null and condition.edittime != ''" >
	    and edittime =  #{condition.edittime}
	</if>




</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into bas_sku_leak(id,customerid,sku,standard,lotatt06,lotatt11,conversionRatio,unit,productline,supplier,userdefine1,userdefine2,userdefine3,userdefine4,userdefine5,addwho,addtime,editwho,edittime)
 values(#{id},#{customerid},#{sku},#{standard},#{lotatt06},#{lotatt11},#{conversionRatio},#{unit},#{productline},#{supplier},#{userdefine1},#{userdefine2},#{userdefine3},#{userdefine4},#{userdefine5},#{addwho},#{addtime},#{editwho},#{edittime})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update bas_sku_leak set customerid=#{customerid},sku=#{sku},standard=#{standard},lotatt06=#{lotatt06},lotatt11=#{lotatt11},conversionRatio=#{conversionRatio},unit=#{unit},productline=#{productline},supplier=#{supplier},userdefine1=#{userdefine1},userdefine2=#{userdefine2},userdefine3=#{userdefine3},userdefine4=#{userdefine4},userdefine5=#{userdefine5},addwho=#{addwho},addtime=#{addtime},editwho=#{editwho},edittime=#{edittime} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update bas_sku_leak set 
	<trim  suffixOverrides="," >
	<if test="customerid != null  ">
		customerid=#{customerid},
	</if>
	<if test="sku != null  ">
		sku=#{sku},
	</if>
	<if test="standard != null  ">
		standard=#{standard},
	</if>
	<if test="lotatt06 != null  ">
		lotatt06=#{lotatt06},
	</if>
	<if test="lotatt11 != null  ">
		lotatt11=#{lotatt11},
	</if>
	<if test="conversionRatio != null  ">
		conversionRatio=#{conversionRatio},
	</if>
	<if test="unit != null  ">
		unit=#{unit},
	</if>
	<if test="productline != null  ">
		productline=#{productline},
	</if>
	<if test="supplier != null  ">
		supplier=#{supplier},
	</if>
	<if test="userdefine1 != null  ">
		userdefine1=#{userdefine1},
	</if>
	<if test="userdefine2 != null  ">
		userdefine2=#{userdefine2},
	</if>
	<if test="userdefine3 != null  ">
		userdefine3=#{userdefine3},
	</if>
	<if test="userdefine4 != null  ">
		userdefine4=#{userdefine4},
	</if>
	<if test="userdefine5 != null  ">
		userdefine5=#{userdefine5},
	</if>
	<if test="addwho != null  ">
		addwho=#{addwho},
	</if>
	<if test="addtime != null  ">
		addtime=#{addtime},
	</if>
	<if test="editwho != null  ">
		editwho=#{editwho},
	</if>
	<if test="edittime != null  ">
		edittime=#{edittime},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from bas_sku_leak where id = #{id}
</delete>
 
<!-- 根据id查询 未备案产品档案 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from bas_sku_leak where id = #{id}
</select>

<!-- 未备案产品档案 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from bas_sku_leak 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询未备案产品档案列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from bas_sku_leak 
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
  	
</mapper>   
