<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.CustomerProductMybatisDao">
    <!-- Result Map-->
    <resultMap id="BaseResultMap" type="com.wms.entity.CustomerProduct">
        <result column="enterprise_name" property="enterpriseName"/>

        <result column="product_name" property="productName"/>
        <result column="specs_name" property="specsName"/>
        <result column="product_model" property="productModel"/>
        <result column="product_register_no" property="productRegisterNo"/>
        <result column="product_register_expiry_date" property="productRegisterExpiryDate"/>
        <result column="approve_date" property="approveDate"/>
        <result column="enterprise_id" property="enterpriseId"/> <!--生产企业-->
        <result column="enterprise_sc" property="enterpriseSc"/> <!--生产企业名称-->

        <result column="license_or_record_no" property="licenseOrRecordNo"/>
        <result column="unit" property="unit"/>
        <result column="storage_condition" property="storageCondition"/>
        <result column="active_flag" property="activeFlag"/>



    </resultMap>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where t1.reservedfield09='1'
        <trim  suffixOverrides="," >
            <if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
                and t2.enterprise_name like concat('%', #{condition.enterpriseName},'%')
            </if>
            <if test="condition.productName != null and condition.productName != ''" >
                and t3.product_name like concat('%', #{condition.productName},'%')
            </if>
            <if test="condition.specsName != null and condition.specsName != ''" >
                and t3.specs_name like concat('%', #{condition.specsName},'%')
            </if>
            <if test="condition.productRegisterNo != null and condition.productRegisterNo != ''" >
                and t4.product_register_no like concat('%', #{condition.productRegisterNo},'%')
            </if>
            <if test="condition.enterpriseSc != null and condition.enterpriseSc != ''" >
                and t5.enterprise_name like concat('%', #{condition.enterpriseSc},'%')
            </if>

        </trim>
    </sql>


    <!-- *******************************货主商品********************************** -->

    <!-- 查询客户档案列表 -->
    <select id="queryCustomerProduct"  resultMap="BaseResultMap" parameterType="Object">
        select DISTINCT t2.enterprise_name,t3.product_name,t3.specs_name,t3.product_model,t4.product_register_no,t4.product_register_expiry_date,
        t4.approve_date,t5.enterprise_name enterprise_sc,t3.LicenseOrRecordNo license_or_record_no,t6.codename_c unit,t3.storage_condition,t1.active_flag
        from bas_sku t1
        LEFT JOIN (select * from gsp_enterprise_info where is_use = 1) t2 on t1.customerid = t2.enterprise_no
        LEFT JOIN (select * from gsp_product_register_specs where is_use = 1) t3 on t1.sku = t3.product_code
        LEFT JOIN gsp_product_register t4 on t3.product_register_id = t4.product_register_id
        LEFT JOIN gsp_enterprise_info t5 on t4.enterprise_id = t5.enterprise_id
        LEFT JOIN (select * from bas_codes where codeid ='UOM' ) t6 on t6.code = t1.defaultreceivinguom
        <include refid="Example_Where_Clause"/>

        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>
    </select>
    <!-- 客户档案 列表总数-->
    <select id="queryCustomerProductByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1)
        from (select DISTINCT t2.enterprise_name,t3.product_name,t3.specs_name,t3.product_model,t4.product_register_no,t4.product_register_expiry_date,
        t4.approve_date,t5.enterprise_name enterprise_sc,t3.LicenseOrRecordNo license_or_record_no,t6.codename_c unit,t3.storage_condition,t1.active_flag
        from bas_sku t1
        LEFT JOIN (select * from gsp_enterprise_info where is_use = 1) t2 on t1.customerid = t2.enterprise_no
        LEFT JOIN (select * from gsp_product_register_specs where is_use = 1) t3 on t1.sku = t3.product_code
        LEFT JOIN gsp_product_register t4 on t3.product_register_id = t4.product_register_id
        LEFT JOIN gsp_enterprise_info t5 on t4.enterprise_id = t5.enterprise_id
        LEFT JOIN (select * from bas_codes where codeid ='UOM' ) t6 on t6.code = t1.defaultreceivinguom
        <include refid="Example_Where_Clause"/>) z
    </select>

</mapper>
