<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.DocMtDetailsMybatisDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.DocMtDetails" >
	<result column="mtno" property="mtno"/>
	<result column="mtlineno" property="mtlineno"/>
	<result column="linestatus" property="linestatus"/>
	<result column="customerid" property="customerid"/>
	<result column="sku" property="sku"/>
	<result column="inventoryage" property="inventoryage"/>
	<result column="locationid" property="locationid"/>
	<result column="lotnum" property="lotnum"/>
	<result column="mtqty_expected" property="mtqtyExpected"/>
	<result column="mtqty_each_expected" property="mtqtyEachExpected"/>
	<result column="mtqty_completed" property="mtqtyCompleted"/>
	<result column="mtqty_each_completed" property="mtqtyEachCompleted"/>
	<result column="uom" property="uom"/>
	<result column="check_flag" property="checkFlag"/>
	<result column="conclusion" property="conclusion"/>
	<result column="conversedate" property="conversedate"/>
	<result column="conversewho" property="conversewho"/>
	<result column="remark" property="remark"/>
	<result column="addtime" property="addtime"/>
	<result column="addwho" property="addwho"/>
	<result column="edittime" property="edittime"/>
	<result column="editwho" property="editwho"/>
	<!--inv_lot_att by lotnum-->
	<result column="lotatt01" property="lotatt01"/>
	<result column="lotatt02" property="lotatt02"/>
	<result column="lotatt03" property="lotatt03"/>
	<result column="lotatt04" property="lotatt04"/>
	<result column="lotatt05" property="lotatt05"/>
	<result column="lotatt06" property="lotatt06"/>
	<result column="lotatt07" property="lotatt07"/>
	<result column="lotatt10" property="lotatt10"/>
	<result column="lotatt11" property="lotatt11"/>
	<result column="lotatt12" property="lotatt12"/>
	<result column="lotatt14" property="lotatt14"/>
	<result column="lotatt15" property="lotatt15"/>
<!--bas_sku  -->
	<result column="descr_c" property="descrc"/>
	<result column="descr_e" property="descre"/>
	<result column="name" property="productLineName"/>
	<result column="reservedfield06" property="reservedfield06"/>
	<result column="qty1" property="qty1"/>
	<result column="uomName" property="uomName"/>
</resultMap>

    <resultMap id="MtProgressMap" type="com.wms.entity.DocMtProgressDetail">
        <result column="mtno" property="mtno"/>
        <result column="goodsModel" property="goodsModel"/>
        <result column="unmtPiece" property="unmtPiece"/>
        <result column="mtedPiece" property="mtedPiece"/>
        <result column="serialNum" property="serialNum"/>
        <result column="batchNum" property="batchNum"/>
        <result column="locationid" property="locationid"/>
        <result column="lotnum" property="lotnum"/>
    </resultMap>

<!-- doc_mt_details table all fields -->
<sql id="Base_Column_List" >
	 mtno,mtlineno,linestatus,customerid,sku,inventoryage,locationid,lotnum,mtqty_expected,mtqty_each_expected,mtqty_completed,mtqty_each_completed,uom,check_flag,conclusion,conversedate,conversewho,remark,addtime,addwho,edittime,editwho
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.mtno != null and condition.mtno != ''" >
	    and mtno =  #{condition.mtno}
	</if>
	<if test="condition.mtlineno != null and condition.mtlineno != ''" >
	    and mtlineno =  #{condition.mtlineno}
	</if>
	<if test="condition.linestatus != null and condition.linestatus != ''" >
	    and linestatus =  #{condition.linestatus}
	</if>
	<if test="condition.customerid != null and condition.customerid != ''" >
	    and customerid like concat('%',#{condition.customerid},'%')
	</if>
	<if test="condition.sku != null and condition.sku != ''" >
	    and sku like concat('%',#{condition.sku},'%')
	</if>
	<if test="condition.inventoryage != null and condition.inventoryage != ''" >
	    and inventoryage =  #{condition.inventoryage}
	</if>
	<if test="condition.locationid != null and condition.locationid != ''" >
	    and locationid like concat('%',#{condition.locationid},'%')
	</if>
	<if test="condition.lotnum != null and condition.lotnum != ''" >
	    and lotnum like concat('%',#{condition.lotnum},'%')
	</if>
	<if test="condition.mtqtyExpected != null and condition.mtqtyExpected != ''" >
	    and mtqty_expected =  #{condition.mtqtyExpected}
	</if>
	<if test="condition.mtqtyEachExpected != null and condition.mtqtyEachExpected != ''" >
	    and mtqty_each_expected =  #{condition.mtqtyEachExpected}
	</if>
	<if test="condition.mtqtyCompleted != null and condition.mtqtyCompleted != ''" >
	    and mtqty_completed =  #{condition.mtqtyCompleted}
	</if>
	<if test="condition.mtqtyEachCompleted != null and condition.mtqtyEachCompleted != ''" >
	    and mtqty_each_completed =  #{condition.mtqtyEachCompleted}
	</if>
	<if test="condition.uom != null and condition.uom != ''" >
	    and uom =  #{condition.uom}
	</if>
	<if test="condition.checkFlag != null and condition.checkFlag != ''" >
	    and check_flag =  #{condition.checkFlag}
	</if>
	<if test="condition.conclusion != null and condition.conclusion != ''" >
	    and conclusion =  #{condition.conclusion}
	</if>
	<if test="condition.conversedate != null and condition.conversedate != ''" >
	    and conversedate =  #{condition.conversedate}
	</if>
	<if test="condition.conversewho != null and condition.conversewho != ''" >
	    and conversewho =  #{condition.conversewho}
	</if>
	<if test="condition.remark != null and condition.remark != ''" >
	    and remark =  #{condition.remark}
	</if>
	<if test="condition.addtime != null and condition.addtime != ''" >
	    and addtime =  #{condition.addtime}
	</if>
	<if test="condition.addwho != null and condition.addwho != ''" >
	    and addwho =  #{condition.addwho}
	</if>
	<if test="condition.edittime != null and condition.edittime != ''" >
	    and edittime =  #{condition.edittime}
	</if>
	<if test="condition.editwho != null and condition.editwho != ''" >
	    and editwho =  #{condition.editwho}
	</if>
</trim>
</sql>
<!-- 查询条件 inv_lot_att-->
<sql id="Example_Where_Clause1">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.mtno != null and condition.mtno != ''" >
	    and d.mtno like concat('%',#{condition.mtno},'%')
	</if>
	<if test="condition.mtlineno != null and condition.mtlineno != ''" >
	    and d.mtlineno =  #{condition.mtlineno}
	</if>
	<if test="condition.linestatus != null and condition.linestatus != ''" >
	    and d.linestatus =  #{condition.linestatus}
	</if>
	<if test="condition.customerid != null and condition.customerid != ''" >
	    and d.customerid like concat('%',#{condition.customerid},'%')
	</if>
	<if test="condition.sku != null and condition.sku != ''" >
	    and d.sku like concat('%',#{condition.sku},'%')
	</if>
	<if test="condition.inventoryage != null and condition.inventoryage != ''" >
	    and d.inventoryage =  #{condition.inventoryage}
	</if>
	<if test="condition.locationid != null and condition.locationid != ''" >
	    and d.locationid like concat('%',#{condition.locationid},'%')
	</if>
	<if test="condition.lotnum != null and condition.lotnum != ''" >
	    and d.lotnum like concat('%',#{condition.lotnum},'%')
	</if>
	<if test="condition.mtqtyExpected != null and condition.mtqtyExpected != ''" >
	    and d.mtqty_expected =  #{condition.mtqtyExpected}
	</if>
	<if test="condition.mtqtyEachExpected != null and condition.mtqtyEachExpected != ''" >
	    and d.mtqty_each_expected =  #{condition.mtqtyEachExpected}
	</if>
	<if test="condition.mtqtyCompleted != null and condition.mtqtyCompleted != ''" >
	    and d.mtqty_completed =  #{condition.mtqtyCompleted}
	</if>
	<if test="condition.mtqtyEachCompleted != null and condition.mtqtyEachCompleted != ''" >
	    and d.mtqty_each_completed =  #{condition.mtqtyEachCompleted}
	</if>
	<if test="condition.uom != null and condition.uom != ''" >
	    and d.uom =  #{condition.uom}
	</if>
	<if test="condition.checkFlag != null and condition.checkFlag != ''" >
	    and d.check_flag =  #{condition.checkFlag}
	</if>
	<if test="condition.conclusion != null and condition.conclusion != ''" >
	    and d.conclusion =  #{condition.conclusion}
	</if>
	<if test="condition.conversedate != null and condition.conversedate != ''" >
	    and d.conversedate =  #{condition.conversedate}
	</if>
	<if test="condition.conversewho != null and condition.conversewho != ''" >
	    and d.conversewho =  #{condition.conversewho}
	</if>
	<if test="condition.remark != null and condition.remark != ''" >
	    and d.remark =  #{condition.remark}
	</if>
	<if test="condition.addtime != null and condition.addtime != ''" >
	    and d.addtime =  #{condition.addtime}
	</if>
	<if test="condition.addwho != null and condition.addwho != ''" >
	    and d.addwho =  #{condition.addwho}
	</if>
	<if test="condition.edittime != null and condition.edittime != ''" >
	    and d.edittime =  #{condition.edittime}
	</if>
	<if test="condition.editwho != null and condition.editwho != ''" >
	    and d.editwho =  #{condition.editwho}
	</if>

	<if test="condition.lotatt12 != null and condition.lotatt12 != ''" >
	    and a.lotatt12 like concat('%',#{condition.lotatt12},'%')
	</if>
	<if test="condition.lotatt05 != null and condition.lotatt05 != ''" >
	    and a.lotatt05 like concat('%',#{condition.lotatt05},'%')
	</if>
	<if test="condition.lotatt04 != null and condition.lotatt04 != ''" >
	    and a.lotatt04 like concat('%',#{condition.lotatt04},'%')
	</if>
	<if test="condition.descrc != null and condition.descrc != ''" >
	    and s.descr_c like concat('%',#{condition.descrc},'%')
	</if>
	<if test="condition.productLineName != null and condition.productLineName != ''" >
	    and p.name =#{condition.productLineName}
	</if>

</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into doc_mt_details(mtno,mtlineno,linestatus,customerid,sku,inventoryage,locationid,lotnum,mtqty_expected,mtqty_each_expected,mtqty_completed,mtqty_each_completed,uom,check_flag,conclusion,conversedate,conversewho,remark,addtime,addwho,editwho,edittime)
 values(#{mtno},#{mtlineno},#{linestatus},#{customerid},#{sku},#{inventoryage},#{locationid},#{lotnum},#{mtqtyExpected},#{mtqtyEachExpected},#{mtqtyCompleted},#{mtqtyEachCompleted},#{uom},#{checkFlag},#{conclusion},#{conversedate},#{conversewho},#{remark},now(),#{addwho},#{editwho},#{edittime})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update doc_mt_details set mtlineno=#{mtlineno},linestatus=#{linestatus},customerid=#{customerid},sku=#{sku},inventoryage=#{inventoryage},locationid=#{locationid},lotnum=#{lotnum},mtqty_expected=#{mtqtyExpected},mtqty_each_expected=#{mtqtyEachExpected},mtqty_completed=#{mtqtyCompleted},mtqty_each_completed=#{mtqtyEachCompleted},uom=#{uom},check_flag=#{checkFlag},conclusion=#{conclusion},conversedate=#{conversedate},conversewho=#{conversewho},remark=#{remark},addtime=#{addtime},addwho=#{addwho},edittime=#{edittime},editwho=#{editwho} where mtno=#{mtno}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update doc_mt_details set 
	<trim  suffixOverrides="," >
	<if test="mtlineno != null  ">
		mtlineno=#{mtlineno},
	</if>
	<if test="linestatus != null  ">
		linestatus=#{linestatus},
	</if>
	<if test="customerid != null  ">
		customerid=#{customerid},
	</if>
	<if test="sku != null  ">
		sku=#{sku},
	</if>
	<if test="inventoryage != null  ">
		inventoryage=#{inventoryage},
	</if>
	<if test="locationid != null  ">
		locationid=#{locationid},
	</if>
	<if test="lotnum != null  ">
		lotnum=#{lotnum},
	</if>
	<if test="mtqtyExpected != null  ">
		mtqty_expected=#{mtqtyExpected},
	</if>
	<if test="mtqtyEachExpected != null  ">
		mtqty_each_expected=#{mtqtyEachExpected},
	</if>
	<if test="mtqtyCompleted != null  ">
		mtqty_completed=#{mtqtyCompleted},
	</if>
	<if test="mtqtyEachCompleted != null  ">
		mtqty_each_completed=#{mtqtyEachCompleted},
	</if>
	<if test="uom != null  ">
		uom=#{uom},
	</if>
	<if test="checkFlag != null  ">
		check_flag=#{checkFlag},
	</if>
	<if test="conclusion != null  ">
		conclusion=#{conclusion},
	</if>
	<if test="conversedate != null  ">
		conversedate=#{conversedate},
	</if>
	<if test="conversewho != null  ">
		conversewho=#{conversewho},
	</if>
	<if test="remark != null  ">
		remark=#{remark},
	</if>
	<if test="addtime != null  ">
		addtime=#{addtime},
	</if>
	<if test="addwho != null  ">
		addwho=#{addwho},
	</if>
	<if test="edittime != null  ">
		edittime=#{edittime},
	</if>
	<if test="editwho != null  ">
		editwho=#{editwho},
	</if>
	</trim> where mtno=#{mtno}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from doc_mt_details where mtno = #{mtno}
</delete>
 
<!-- 根据id查询 养护计划管理 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from doc_mt_details where mtno = #{mtno} and mtlineno = #{mtlineno}
</select>

<!-- 养护计划管理 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from doc_mt_details 
	<include refid="Example_Where_Clause"/>
</select>
<!-- 养护计划管理 列表总数Lotatt-->
<select id="queryByCountLotatt" resultType="java.lang.Integer"  parameterType="Object">
	SELECT
	count(1)
	FROM doc_mt_details  d
	LEFT JOIN `inv_lot_att` a ON d.lotnum=a.lotnum
	LEFT JOIN `bas_sku` s ON d.`sku`=s.`sku` AND d.`customerid`=s.`customerid`
	LEFT JOIN product_line p ON s.customerid = p.customerid AND s.sku_group1 = p.product_line_id
	<include refid="Example_Where_Clause1"/>
</select>
  	
<!-- 查询养护计划管理列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from doc_mt_details 
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
<!-- 查询养护计划管理列表Lotatt -->
<select id="queryByListLotatt" resultMap="BaseResultMap"  parameterType="Object">
	SELECT
	  d.*,a.*,s.descr_c,s.descr_e,s.reservedfield06,p.name,b.qty1,bb.codename_c uomName
	FROM doc_mt_details  d
	LEFT JOIN `inv_lot_att` a ON d.`lotnum`=a.lotnum
	LEFT JOIN `bas_sku` s ON d.`sku`=s.`sku` AND d.`customerid`=s.`customerid`
	LEFT JOIN product_line p ON s.customerid = p.customerid AND s.sku_group1 = p.product_line_id
	LEFT JOIN `bas_package` b ON b.packid=s.`packid`
	LEFT JOIN(SELECT * FROM `bas_codes` WHERE codeid='uom')  bb ON s.defaultreceivinguom=bb.code
	<include refid="Example_Where_Clause1"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
	<!-- 查询养护记录 -->
<select id="queryByListSearch" resultMap="BaseResultMap"  parameterType="Object">
	SELECT
	  d.*,a.*,s.descr_c,s.descr_e,s.reservedfield06,p.name,b.qty1,bb.codename_c uomName
	FROM doc_mt_details  d
	LEFT JOIN `inv_lot_att` a ON d.`lotnum`=a.lotnum
	LEFT JOIN `bas_sku` s ON d.`sku`=s.`sku` AND d.`customerid`=s.`customerid`
	LEFT JOIN product_line p ON s.customerid = p.customerid AND s.sku_group1 = p.product_line_id
	LEFT JOIN `bas_package` b ON b.packid=s.`packid`
	LEFT JOIN(SELECT * FROM `bas_codes` WHERE codeid='uom')  bb ON s.defaultreceivinguom=bb.code
	<include refid="Example_Where_Clause1"/>
     order by  d.mtno desc
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
	<!-- 查询养护计划管理列表Lotatt -->
<select id="queryByListExport" resultType="com.wms.entity.DocMtSearchExportForm"  parameterType="Object">
	SELECT
	  d.*,a.*,s.descr_c descrc,s.reservedfield06,p.name productLineName,b.qty1,bb.codename_c uomName
	FROM doc_mt_details  d
	LEFT JOIN `inv_lot_att` a ON d.`lotnum`=a.lotnum
	LEFT JOIN `bas_sku` s ON d.`sku`=s.`sku` AND d.`customerid`=s.`customerid`
	LEFT JOIN product_line p ON s.customerid = p.customerid AND s.sku_group1 = p.product_line_id
	LEFT JOIN `bas_package` b ON b.packid=s.`packid`
	LEFT JOIN(SELECT * FROM `bas_codes` WHERE codeid='uom')  bb ON s.defaultreceivinguom=bb.code
	<include refid="Example_Where_Clause1"/>
     order by  d.mtno desc
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
<!--查询养护列表 主单状态99 40-->
<select id="getDocMtDetailsList" resultMap="BaseResultMap">
	SELECT d.lotnum,d.customerid,d.sku,d.locationid,MAX(d.conversedate) conversedate,DATE_ADD(MAX(d.conversedate),INTERVAL  reservedfield10 DAY) conversedatetest,s.reservedfield10
	 FROM `doc_mt_details` d
	INNER JOIN `doc_mt_header` h ON d.mtno=h.mtno
	left join inv_lot_att a on a.lotnum=d.lotnum
	INNER JOIN `bas_sku` s ON d.customerid=s.customerid AND d.sku=s.sku
	LEFT JOIN (SELECT * FROM bas_customer WHERE customer_type='OW'  AND ACTIVE_FLAG='1') ow on ow.customerid=d.customerid
	WHERE (mtstatus='99' OR mtstatus='40')
	<trim  suffixOverrides="," >
		<if test="locationid != null and locationid != ''" >
			and d.locationid like concat('%',#{locationid},'%')
		</if>
		<if test="customerid != null and customerid != ''" >
			and ow.descr_c =  #{customerid}
		</if>
		<if test="lotatt10 != null and lotatt10 != ''" >
			and a.lotatt10=  #{lotatt10}
		</if>
	</trim>
	GROUP BY d.lotnum,d.customerid,d.sku,d.locationid
	having  conversedatetest &gt;= #{fromdate} and conversedatetest &lt;= #{todate}


</select>
<!--查询养护列表 主单状态00 30-->
<select id="getDocMtDetailsListByStatus" resultMap="BaseResultMap">
	SELECT d.lotnum,d.customerid,d.sku,d.locationid,MAX(d.conversedate) conversedate,DATE_ADD(MAX(d.conversedate),INTERVAL  reservedfield10 DAY) conversedatetest,s.reservedfield10
	FROM `doc_mt_details` d
	INNER JOIN `doc_mt_header` h ON d.mtno=h.mtno
	left join inv_lot_att a on a.lotnum=d.lotnum
	INNER JOIN `bas_sku` s ON d.customerid=s.customerid AND d.sku=s.sku
	LEFT JOIN (SELECT * FROM bas_customer WHERE customer_type='OW'  AND ACTIVE_FLAG='1') ow on ow.customerid=d.customerid
	WHERE (mtstatus='00' OR mtstatus='30')
	<trim  suffixOverrides="," >
		<if test="locationid != null and locationid != ''" >
			and d.locationid like concat('%',#{locationid},'%')
		</if>
		<if test="customerid != null and customerid != ''" >
			and ow.descr_c =  #{customerid}
		</if>
		<if test="lotatt10 != null and lotatt10 != ''" >
			and a.lotatt10=  #{lotatt10}
		</if>
	</trim>
	GROUP BY d.lotnum,d.customerid,d.sku,d.locationid
	having  conversedatetest &gt;= #{fromdate} and conversedatetest &lt;= #{todate}

</select>
<!--养护计划细行号-->
<select id="getMtlinenoByMtno" resultType="java.lang.Long"  parameterType="Object">
	select ifnull(max(mtlineno),0) from doc_mt_details where mtno = #{mtno,jdbcType=VARCHAR}
</select>

    <select id="queryUnfinishedDetail" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        a.*
        from doc_mt_details a
        left join inv_lot_att b on a.lotnum = b.lotnum
        where a.mtno = #{mtno} and a.linestatus = '00'
          and a.locationid = #{locationid}
		  and a.customerid = #{customerid}
		<if test="sku != null and sku != ''">
			and a.sku = #{sku}
		</if>
		<if test="lotatt04 != null and lotatt04 != ''">
			and b.lotatt04 = rtrim(#{lotatt04})
		</if>
		<if test="lotatt05 != null and lotatt05 != ''">
			and b.lotatt05 = rtrim(#{lotatt05})
		</if>
    </select>

    <update id="updateDetailQty" parameterType="java.util.Map">
        update doc_mt_details
        set mtqty_expected = #{mtqtyExpected}, mtqty_each_expected = #{mtqtyEachExpected},
        mtqty_completed = #{mtqtyCompleted}, mtqty_each_completed = #{mtqtyEachCompleted},
        editwho = #{editwho}, edittime = now()
        where mtno = #{mtno} and mtlineno = #{mtlineno}
    </update>

    <delete id="clearZeroTask">
        delete from doc_mt_details
        where ifnull(mtqty_expected, 0) = 0
          and ifnull(mtqty_each_expected, 0) = 0
    </delete>

    <select id="queryDocMtList" parameterType="java.lang.String" resultMap="MtProgressMap">
        select
        a.mtno, a.locationid, a.lotnum, c.descr_e as goodsModel,
        a.sum_qty_expected as unmtPiece, a.sum_qty_completed as mtedPiece,
        b.lotatt05 as serialNum, b.lotatt04 as batchNum
        from (
              select detail.mtno, detail.lotnum, detail.customerid, detail.locationid, detail.sku,
              (ifnull(sum(detail.mtqty_expected), 0) - ifnull(sum(detail.mtqty_completed), 0)) as sum_qty_expected,
              ifnull(sum(detail.mtqty_completed), 0) as sum_qty_completed
              from doc_mt_details detail
              group by detail.mtno, detail.customerid, detail.locationid, detail.lotnum, detail.sku
        ) as a
        left join inv_lot_att b on a.lotnum = b.lotnum
        left join bas_sku c on a.sku = c.sku and a.customerid = c.customerid
        where a.mtno = #{mtno}
        order by a.locationid asc, a.sku asc, a.customerid asc
    </select>

    <select id="queryMtGuideList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from doc_mt_details
        where mtno = #{mtno, jdbcType=VARCHAR}
        order by linestatus asc, locationid asc, sku asc
        limit #{start}, #{pageSize}
    </select>
</mapper>   
