<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.DocQsmDetailsMybatisDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.DocQsmDetails" >
	<result column="qcudocno" property="qcudocno"/>
	<result column="qcustatus" property="qcustatus"/>
	<result column="lotatt14" property="lotatt14"/>
	<result column="customerid" property="customerid"/>
	<result column="lotatt03" property="lotatt03"/>
	<result column="lotatt08" property="lotatt08"/>
	<result column="businesstype" property="businesstype"/>
	<result column="sku" property="sku"/>
	<result column="lotatt12" property="lotatt12"/>
	<result column="lotatt06" property="lotatt06"/>
	<result column="descrc" property="descrc"/>
	<result column="lotatt04" property="lotatt04"/>
	<result column="lotatt05" property="lotatt05"/>
	<result column="lotatt07" property="lotatt07"/>
	<result column="lotatt01" property="lotatt01"/>
	<result column="lotatt02" property="lotatt02"/>
	<result column="locqty" property="locqty"/>
	<result column="qty" property="qty"/>
	<result column="qtyeach" property="qtyeach"/>
	<result column="lotatt15" property="lotatt15"/>
	<result column="reservedfield06" property="reservedfield06"/>
	<result column="lotatt10" property="lotatt10"/>
	<result column="locationid" property="locationid"/>
	<result column="finddate" property="finddate"/>
	<result column="failed_description" property="failedDescription"/>
	<result column="customerid_treatment" property="customeridTreatment"/>
	<result column="treatment_date" property="treatmentDate"/>
	<result column="remarks" property="remarks"/>
	<result column="recording_date" property="recordingDate"/>
	<result column="recording_people" property="recordingPeople"/>
	<result column="qty1" property="qty1"/>
</resultMap>
       
<!-- doc_qsm_details table all fields -->
<sql id="Base_Column_List" >
	 qcudocno,qcustatus,lotatt14,customerid,lotatt03,lotatt08,businesstype,sku,lotatt12,lotatt06,descrc,lotatt04,lotatt05,lotatt07,lotatt01,lotatt02,locqty,qty,qtyeach,lotatt15,reservedfield06,lotatt10,locationid,finddate,failed_description,customerid_treatment,treatment_date,remarks,recording_date,recording_people,lotnum
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.qcudocno != null and condition.qcudocno != ''" >
	    and qcudocno like concat ('%',#{condition.qcudocno},'%')
	</if>
	<if test="condition.qcustatus != null and condition.qcustatus != ''" >
	    and qcustatus =  #{condition.qcustatus}
	</if>
	<if test="condition.lotatt14 != null and condition.lotatt14 != ''" >
	    and q.lotatt14 =  #{condition.lotatt14}
	</if>
	<if test="condition.customerid != null and condition.customerid != ''" >
	    and q.customerid =  #{condition.customerid}
	</if>
	<if test="condition.lotatt03 != null and condition.lotatt03 != ''" >
	    and q.lotatt03 =  #{condition.lotatt03}
	</if>
	<if test="condition.lotatt08 != null and condition.lotatt08 != ''" >
	    and q.lotatt08 =  #{condition.lotatt08}
	</if>
	<if test="condition.businesstype != null and condition.businesstype != ''" >
	    and q.businesstype =  #{condition.businesstype}
	</if>
	<if test="condition.sku != null and condition.sku != ''" >
	    and q.sku =  #{condition.sku}
	</if>
	<if test="condition.lotatt12 != null and condition.lotatt12 != ''" >
	    and q.lotatt12 =  #{condition.lotatt12}
	</if>
	<if test="condition.lotatt06 != null and condition.lotatt06 != ''" >
	    and q.lotatt06 =  #{condition.lotatt06}
	</if>
	<if test="condition.descrc != null and condition.descrc != ''" >
	    and q.descrc =  #{condition.descrc}
	</if>
	<if test="condition.lotatt04 != null and condition.lotatt04 != ''" >
	    and q.lotatt04 =  #{condition.lotatt04}
	</if>
	<if test="condition.lotatt05 != null and condition.lotatt05 != ''" >
	    and q.lotatt05 =  #{condition.lotatt05}
	</if>
	<if test="condition.lotatt07 != null and condition.lotatt07 != ''" >
	    and q.lotatt07 =  #{condition.lotatt07}
	</if>
	<if test="condition.lotatt01 != null and condition.lotatt01 != ''" >
	    and q.lotatt01 =  #{condition.lotatt01}
	</if>
	<if test="condition.lotatt02 != null and condition.lotatt02 != ''" >
	    and q.lotatt02 =  #{condition.lotatt02}
	</if>
	<if test="condition.qty != null and condition.qty != ''" >
	    and q.qty =  #{condition.qty}
	</if>
	<if test="condition.qtyeach != null and condition.qtyeach != ''" >
	    and q.qtyeach =  #{condition.qtyeach}
	</if>
	<if test="condition.lotatt15 != null and condition.lotatt15 != ''" >
	    and q.lotatt15 =  #{condition.lotatt15}
	</if>
	<if test="condition.lotatt10 != null and condition.lotatt10 != ''" >
	    and q.lotatt10 =  #{condition.lotatt10}
	</if>
	<if test="condition.locationid != null and condition.locationid != ''" >
	    and q.locationid =  #{condition.locationid}
	</if>
	<if test="condition.finddate != null and condition.finddate != ''" >
	    and q.finddate =  #{condition.finddate}
	</if>
	<if test="condition.failedDescription != null and condition.failedDescription != ''" >
	    and q.failed_description =  #{condition.failedDescription}
	</if>
	<if test="condition.customeridTreatment != null and condition.customeridTreatment != ''" >
	    and q.customerid_treatment =  #{condition.customeridTreatment}
	</if>
	<if test="condition.treatmentDate != null and condition.treatmentDate != ''" >
	    and q.treatment_date =  #{condition.treatmentDate}
	</if>
	<if test="condition.remarks != null and condition.remarks != ''" >
	    and q.remarks =  #{condition.remarks}
	</if>
	<if test="condition.recordingDate != null and condition.recordingDate != ''" >
	    and q.recording_date =  #{condition.recordingDate}
	</if>
	<if test="condition.recordingPeople != null and condition.recordingPeople != ''" >
	    and q.recording_people =  #{condition.recordingPeople}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into doc_qsm_details(qcudocno,qcustatus,lotatt14,customerid,lotatt03,lotatt08,businesstype,sku,lotatt12,lotatt06,descrc,lotatt04,lotatt05,lotatt07,lotatt01,lotatt02,locqty,qty,qtyeach,lotatt15,reservedfield06,lotatt10,locationid,finddate,failed_description,customerid_treatment,treatment_date,remarks,recording_date,recording_people,lotnum)
 values(#{qcudocno},#{qcustatus},#{lotatt14},#{customerid},#{lotatt03},#{lotatt08},#{businesstype},#{sku},#{lotatt12},#{lotatt06},#{descrc},#{lotatt04},#{lotatt05},#{lotatt07},#{lotatt01},#{lotatt02},#{locqty},#{qty},#{qtyeach},#{lotatt15},#{reservedfield06},#{lotatt10},#{locationid},#{finddate},#{failedDescription},#{customeridTreatment},#{treatmentDate},#{remarks},#{recordingDate},#{recordingPeople},#{lotnum})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update doc_qsm_details set qcustatus=#{qcustatus},lotatt14=#{lotatt14},customerid=#{customerid},lotatt03=#{lotatt03},lotatt08=#{lotatt08},businesstype=#{businesstype},sku=#{sku},lotatt12=#{lotatt12},lotatt06=#{lotatt06},descrc=#{descrc},lotatt04=#{lotatt04},lotatt05=#{lotatt05},lotatt07=#{lotatt07},lotatt01=#{lotatt01},lotatt02=#{lotatt02},qty=#{qty},qtyeach=#{qtyeach},lotatt15=#{lotatt15},lotatt10=#{lotatt10},locationid=#{locationid},finddate=#{finddate},failed_description=#{failedDescription},customerid_treatment=#{customeridTreatment},treatment_date=#{treatmentDate},remarks=#{remarks},recording_date=#{recordingDate},recording_people=#{recordingPeople} where qcudocno=#{qcudocno}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update doc_qsm_details set 
	<trim  suffixOverrides="," >
	<if test="qcustatus != null  ">
		qcustatus=#{qcustatus},
	</if>
	<if test="lotatt14 != null  ">
		lotatt14=#{lotatt14},
	</if>
	<if test="customerid != null  ">
		customerid=#{customerid},
	</if>
	<if test="lotatt03 != null  ">
		lotatt03=#{lotatt03},
	</if>
	<if test="lotatt08 != null  ">
		lotatt08=#{lotatt08},
	</if>
	<if test="businesstype != null  ">
		businesstype=#{businesstype},
	</if>
	<if test="sku != null  ">
		sku=#{sku},
	</if>
	<if test="lotatt12 != null  ">
		lotatt12=#{lotatt12},
	</if>
	<if test="lotatt06 != null  ">
		lotatt06=#{lotatt06},
	</if>
	<if test="descrc != null  ">
		descrc=#{descrc},
	</if>
	<if test="lotatt04 != null  ">
		lotatt04=#{lotatt04},
	</if>
	<if test="lotatt05 != null  ">
		lotatt05=#{lotatt05},
	</if>
	<if test="lotatt07 != null  ">
		lotatt07=#{lotatt07},
	</if>
	<if test="lotatt01 != null  ">
		lotatt01=#{lotatt01},
	</if>
	<if test="lotatt02 != null  ">
		lotatt02=#{lotatt02},
	</if>
	<if test="qty != null  ">
		qty=#{qty},
	</if>
	<if test="qtyeach != null  ">
		qtyeach=#{qtyeach},
	</if>
	<if test="lotatt15 != null  ">
		lotatt15=#{lotatt15},
	</if>
	<if test="lotatt10 != null  ">
		lotatt10=#{lotatt10},
	</if>
	<if test="locationid != null  ">
		locationid=#{locationid},
	</if>
	<if test="finddate != null  ">
		finddate=#{finddate},
	</if>
	<if test="failedDescription != null  ">
		failed_description=#{failedDescription},
	</if>
	<if test="customeridTreatment != null  ">
		customerid_treatment=#{customeridTreatment},
	</if>
	<if test="treatmentDate != null  ">
		treatment_date=#{treatmentDate},
	</if>
	<if test="remarks != null  ">
		remarks=#{remarks},
	</if>
	<if test="recordingDate != null  ">
		recording_date=#{recordingDate},
	</if>
	<if test="recordingPeople != null  ">
		recording_people=#{recordingPeople},
	</if>
	</trim> where qcudocno=#{qcudocno}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from doc_qsm_details where qcudocno = #{qcudocno}
</delete>
 
<!-- 根据id查询 质量状态管理 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from doc_qsm_details where qcudocno = #{qcudocno}
</select>

<!-- 质量状态管理 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from doc_qsm_details q
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询质量状态管理列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	SELECT
	q.*,p.`qty1`
	FROM doc_qsm_details q
	LEFT JOIN  `bas_sku` s ON q.`sku`=s.`sku` AND q.`customerid`=s.`customerid`
	LEFT JOIN `bas_package` p ON s.`packid`=p.`packid`
	<include refid="Example_Where_Clause"/>
       order by qcudocno desc
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
<!--提交质量状态管理-->

<select id="qualityStatus" statementType="CALLABLE" parameterType="java.util.Map">
   {call SPINV_QcstatusUpdate_Process(#{warehouseid,mode=IN,jdbcType=VARCHAR},'0','0',#{customerid,mode=IN,jdbcType=VARCHAR},#{sku,mode=IN,jdbcType=VARCHAR},#{lotnum,mode=IN,jdbcType=VARCHAR},#{locationid,mode=IN,jdbcType=VARCHAR},'HG',#{locqty,mode=IN,jdbcType=VARCHAR},#{locationid,mode=IN,jdbcType=VARCHAR},'BHG',#{qty,mode=IN,jdbcType=VARCHAR},'0','0','now()','CN',#{userid,mode=IN,jdbcType=VARCHAR},#{result,mode=OUT,jdbcType=VARCHAR})}
</select>
  	
</mapper>   
