<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.DocTransPutwayMybatisDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.DocTransPutway" >
	<result column="PUTWAYNO" property="pUTWAYNO"/>
	<result column="LINESTATUS" property="lINESTATUS"/>
	<result column="ASNNO" property="aSNNO"/>
	<result column="ASNLINENO" property="aSNLINENO"/>
	<result column="CUSTOMERID" property="cUSTOMERID"/>
	<result column="SKU" property="sKU"/>
	<result column="LOTNUM" property="lOTNUM"/>
	<result column="ASNQTY_EXPECTED" property="aSNQTYEXPECTED"/>
	<result column="PUTWAYQTY_EXPECTED" property="pUTWAYQTYEXPECTED"/>
	<result column="PUTWAYQTY_COMPLETED" property="pUTWAYQTYCOMPLETED"/>
	<result column="USERDEFINE1" property="uSERDEFINE1"/>
	<result column="USERDEFINE2" property="uSERDEFINE2"/>
	<result column="USERDEFINE3" property="uSERDEFINE3"/>
	<result column="USERDEFINE4" property="uSERDEFINE4"/>
	<result column="USERDEFINE5" property="uSERDEFINE5"/>
	<result column="NOTES" property="nOTES"/>
	<result column="ADDTIME" property="aDDTIME"/>
	<result column="ADDWHO" property="aDDWHO"/>
	<result column="EDITTIME" property="eDITTIME"/>
	<result column="EDITWHO" property="eDITWHO"/>
	<result column="PACKID" property="pACKID"/>
	<result column="TRANSACTIONID" property="tRANSACTIONID"/>
</resultMap>
       
<!-- doc_trans_putway table all fields -->
<sql id="Base_Column_List" >
	 PUTWAYNO,LINESTATUS,ASNNO,ASNLINENO,CUSTOMERID,SKU,LOTNUM,ASNQTY_EXPECTED,PUTWAYQTY_EXPECTED,PUTWAYQTY_COMPLETED,USERDEFINE1,USERDEFINE2,USERDEFINE3,USERDEFINE4,USERDEFINE5,NOTES,ADDTIME,ADDWHO,EDITTIME,EDITWHO,PACKID,TRANSACTIONID
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.pUTWAYNO != null and condition.pUTWAYNO != ''" >
	    and PUTWAYNO =  #{condition.pUTWAYNO}
	</if>
	<if test="condition.lINESTATUS != null and condition.lINESTATUS != ''" >
	    and LINESTATUS =  #{condition.lINESTATUS}
	</if>
	<if test="condition.aSNNO != null and condition.aSNNO != ''" >
	    and ASNNO =  #{condition.aSNNO}
	</if>
	<if test="condition.aSNLINENO != null and condition.aSNLINENO != ''" >
	    and ASNLINENO =  #{condition.aSNLINENO}
	</if>
	<if test="condition.cUSTOMERID != null and condition.cUSTOMERID != ''" >
	    and CUSTOMERID =  #{condition.cUSTOMERID}
	</if>
	<if test="condition.sKU != null and condition.sKU != ''" >
	    and SKU =  #{condition.sKU}
	</if>
	<if test="condition.lOTNUM != null and condition.lOTNUM != ''" >
	    and LOTNUM =  #{condition.lOTNUM}
	</if>
	<if test="condition.aSNQTYEXPECTED != null and condition.aSNQTYEXPECTED != ''" >
	    and ASNQTY_EXPECTED =  #{condition.aSNQTYEXPECTED}
	</if>
	<if test="condition.pUTWAYQTYEXPECTED != null and condition.pUTWAYQTYEXPECTED != ''" >
	    and PUTWAYQTY_EXPECTED =  #{condition.pUTWAYQTYEXPECTED}
	</if>
	<if test="condition.pUTWAYQTYCOMPLETED != null and condition.pUTWAYQTYCOMPLETED != ''" >
	    and PUTWAYQTY_COMPLETED =  #{condition.pUTWAYQTYCOMPLETED}
	</if>
	<if test="condition.uSERDEFINE1 != null and condition.uSERDEFINE1 != ''" >
	    and USERDEFINE1 =  #{condition.uSERDEFINE1}
	</if>
	<if test="condition.uSERDEFINE2 != null and condition.uSERDEFINE2 != ''" >
	    and USERDEFINE2 =  #{condition.uSERDEFINE2}
	</if>
	<if test="condition.uSERDEFINE3 != null and condition.uSERDEFINE3 != ''" >
	    and USERDEFINE3 =  #{condition.uSERDEFINE3}
	</if>
	<if test="condition.uSERDEFINE4 != null and condition.uSERDEFINE4 != ''" >
	    and USERDEFINE4 =  #{condition.uSERDEFINE4}
	</if>
	<if test="condition.uSERDEFINE5 != null and condition.uSERDEFINE5 != ''" >
	    and USERDEFINE5 =  #{condition.uSERDEFINE5}
	</if>
	<if test="condition.nOTES != null and condition.nOTES != ''" >
	    and NOTES =  #{condition.nOTES}
	</if>
	<if test="condition.aDDTIME != null and condition.aDDTIME != ''" >
	    and ADDTIME =  #{condition.aDDTIME}
	</if>
	<if test="condition.aDDWHO != null and condition.aDDWHO != ''" >
	    and ADDWHO =  #{condition.aDDWHO}
	</if>
	<if test="condition.eDITTIME != null and condition.eDITTIME != ''" >
	    and EDITTIME =  #{condition.eDITTIME}
	</if>
	<if test="condition.eDITWHO != null and condition.eDITWHO != ''" >
	    and EDITWHO =  #{condition.eDITWHO}
	</if>
	<if test="condition.pACKID != null and condition.pACKID != ''" >
	    and PACKID =  #{condition.pACKID}
	</if>
	<if test="condition.tRANSACTIONID != null and condition.tRANSACTIONID != ''" >
	    and TRANSACTIONID =  #{condition.tRANSACTIONID}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into doc_trans_putway(PUTWAYNO,LINESTATUS,ASNNO,ASNLINENO,CUSTOMERID,SKU,LOTNUM,ASNQTY_EXPECTED,PUTWAYQTY_EXPECTED,PUTWAYQTY_COMPLETED,USERDEFINE1,USERDEFINE2,USERDEFINE3,USERDEFINE4,USERDEFINE5,NOTES,ADDTIME,ADDWHO,EDITTIME,EDITWHO,PACKID,TRANSACTIONID)
 values(#{pUTWAYNO},#{lINESTATUS},#{aSNNO},#{aSNLINENO},#{cUSTOMERID},#{sKU},#{lOTNUM},#{aSNQTYEXPECTED},#{pUTWAYQTYEXPECTED},#{pUTWAYQTYCOMPLETED},#{uSERDEFINE1},#{uSERDEFINE2},#{uSERDEFINE3},#{uSERDEFINE4},#{uSERDEFINE5},#{nOTES},#{aDDTIME},#{aDDWHO},#{eDITTIME},#{eDITWHO},#{pACKID},#{tRANSACTIONID})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update doc_trans_putway set LINESTATUS=#{lINESTATUS},ASNNO=#{aSNNO},ASNLINENO=#{aSNLINENO},CUSTOMERID=#{cUSTOMERID},SKU=#{sKU},LOTNUM=#{lOTNUM},ASNQTY_EXPECTED=#{aSNQTYEXPECTED},PUTWAYQTY_EXPECTED=#{pUTWAYQTYEXPECTED},PUTWAYQTY_COMPLETED=#{pUTWAYQTYCOMPLETED},USERDEFINE1=#{uSERDEFINE1},USERDEFINE2=#{uSERDEFINE2},USERDEFINE3=#{uSERDEFINE3},USERDEFINE4=#{uSERDEFINE4},USERDEFINE5=#{uSERDEFINE5},NOTES=#{nOTES},ADDTIME=#{aDDTIME},ADDWHO=#{aDDWHO},EDITTIME=#{eDITTIME},EDITWHO=#{eDITWHO},PACKID=#{pACKID},TRANSACTIONID=#{tRANSACTIONID} where PUTWAYNO=#{pUTWAYNO}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update doc_trans_putway set 
	<trim  suffixOverrides="," >
	<if test="lINESTATUS != null  ">
		LINESTATUS=#{lINESTATUS},
	</if>
	<if test="aSNNO != null  ">
		ASNNO=#{aSNNO},
	</if>
	<if test="aSNLINENO != null  ">
		ASNLINENO=#{aSNLINENO},
	</if>
	<if test="cUSTOMERID != null  ">
		CUSTOMERID=#{cUSTOMERID},
	</if>
	<if test="sKU != null  ">
		SKU=#{sKU},
	</if>
	<if test="lOTNUM != null  ">
		LOTNUM=#{lOTNUM},
	</if>
	<if test="aSNQTYEXPECTED != null  ">
		ASNQTY_EXPECTED=#{aSNQTYEXPECTED},
	</if>
	<if test="pUTWAYQTYEXPECTED != null  ">
		PUTWAYQTY_EXPECTED=#{pUTWAYQTYEXPECTED},
	</if>
	<if test="pUTWAYQTYCOMPLETED != null  ">
		PUTWAYQTY_COMPLETED=#{pUTWAYQTYCOMPLETED},
	</if>
	<if test="uSERDEFINE1 != null  ">
		USERDEFINE1=#{uSERDEFINE1},
	</if>
	<if test="uSERDEFINE2 != null  ">
		USERDEFINE2=#{uSERDEFINE2},
	</if>
	<if test="uSERDEFINE3 != null  ">
		USERDEFINE3=#{uSERDEFINE3},
	</if>
	<if test="uSERDEFINE4 != null  ">
		USERDEFINE4=#{uSERDEFINE4},
	</if>
	<if test="uSERDEFINE5 != null  ">
		USERDEFINE5=#{uSERDEFINE5},
	</if>
	<if test="nOTES != null  ">
		NOTES=#{nOTES},
	</if>
	<if test="aDDTIME != null  ">
		ADDTIME=#{aDDTIME},
	</if>
	<if test="aDDWHO != null  ">
		ADDWHO=#{aDDWHO},
	</if>
	<if test="eDITTIME != null  ">
		EDITTIME=#{eDITTIME},
	</if>
	<if test="eDITWHO != null  ">
		EDITWHO=#{eDITWHO},
	</if>
	<if test="pACKID != null  ">
		PACKID=#{pACKID},
	</if>
	<if test="tRANSACTIONID != null  ">
		TRANSACTIONID=#{tRANSACTIONID},
	</if>
	</trim> where PUTWAYNO=#{pUTWAYNO}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from doc_trans_putway where PUTWAYNO = #{pUTWAYNO}
</delete>
 
<!-- 根据id查询 移库表 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from doc_trans_putway where PUTWAYNO = #{pUTWAYNO}
</select>

<!-- 移库表 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from doc_trans_putway 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询移库表列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from doc_trans_putway 
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>

    <!--TODO 查询未完成列表-->
    <select id="queryUndoneList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from doc_trans_putway
        where asnstatus = '00' or asnstatus = '30'
        order by addtime desc
        limit #{start}, #{pageSize}
    </select>
  	
</mapper>   
