<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.FirstBusinessApplyMybatisDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.FirstBusinessApply" >
	<result column="apply_id" property="applyId"/>
	<result column="client_id" property="clientId"/>
	<result column="supplier_id" property="supplierId"/>
	<result column="create_id" property="createId"/>
	<result column="create_date" property="createDate"/>
	<result column="edit_id" property="editId"/>
	<result column="edit_date" property="editDate"/>
	<result column="is_use" property="isUse"/>
	<result column="first_state" property="firstState"/>
	<result column="productline" property="productline"/>
	<result column="supplier_name" property="supplierName"/>
	<result column="specs_id" property="specsId"/>
</resultMap>

<!-- Result Map-->
<resultMap id="PageResultMap" type="com.wms.result.FirstBusinessApplyResult" >
	<result column="apply_id" property="applyId"/>
	<result column="client_id" property="clientId"/>
	<result column="client_name" property="clientName"/>
	<result column="supplier_id" property="supplierId"/>
	<result column="supplier_name" property="supplierName"/>
	<result column="product_code" property="productCode"/>
	<result column="product_name" property="productName"/>
	<result column="create_id" property="createId"/>
	<result column="create_date" property="createDate"/>
	<result column="edit_id" property="editId"/>
	<result column="edit_date" property="editDate"/>
	<result column="is_use" property="isUse"/>
	<result column="first_state" property="firstState"/>
	<result column="productline" property="productline"/>
	<result column="specs_id" property="specsId"/>
	<result column="product_register_no" property="productRegisterNo"/>
	<result column="product_apply_id" property="productApplyId"/>


</resultMap>
       
<!-- first_business_apply table all fields -->
<sql id="Base_Column_List" >
	 apply_id,client_id,supplier_id,create_id,create_date,edit_id,edit_date,is_use,first_state,productline
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >

	<!--<if test="condition.productRegisterNo != null and condition.productRegisterNo != ''" >-->
		<!--and gpr.product_register_no =  '%${condition.productRegisterNo}%'-->
	<!--</if>-->


	<if test="condition.applyId != null and condition.applyId != ''" >
	    and apply_id =  #{condition.applyId}
	</if>
	<if test="condition.clientId != null and condition.clientId != ''" >
	    and client_id =  #{condition.clientId}
	</if>
	<if test="condition.supplierId != null and condition.supplierId != ''" >
	    and supplier_id =  #{condition.supplierId}
	</if>
	<if test="condition.createId != null and condition.createId != ''" >
	    and create_id =  #{condition.createId}
	</if>
	<if test="condition.createDate != null and condition.createDate != ''" >
	    and create_date =  #{condition.createDate}
	</if>
	<if test="condition.editId != null and condition.editId != ''" >
	    and edit_id =  #{condition.editId}
	</if>
	<if test="condition.editDate != null and condition.editDate != ''" >
	    and edit_date =  #{condition.editDate}
	</if>
	<if test="condition.isUse != null and condition.isUse != ''" >
	    and is_use =  #{condition.isUse}
	</if>
	<if test="condition.firstState != null and condition.firstState != ''" >
		and first_state =  #{condition.firstState}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into first_business_apply(apply_id,client_id,supplier_id,create_id,create_date,edit_id,edit_date,is_use,first_state,productline)
 values(#{applyId},#{clientId},#{supplierId},#{createId},now(),#{editId},now(),#{isUse},#{firstState},#{productline})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update first_business_apply set client_id=#{clientId},supplier_id=#{supplierId},create_id=#{createId},create_date=#{createDate},edit_id=#{editId},edit_date=#{editDate},is_use=#{isUse},first_state=#{firstState},productline=#{productline} where apply_id=#{applyId}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update first_business_apply set 
	<trim  suffixOverrides="," >
	<if test="clientId != null  ">
		client_id=#{clientId},
	</if>
	<if test="supplierId != null  ">
		supplier_id=#{supplierId},
	</if>
	<if test="createId != null  ">
		create_id=#{createId},
	</if>
	<if test="createDate != null  ">
		create_date=#{createDate},
	</if>
	<if test="editId != null  ">
		edit_id=#{editId},
	</if>
	<if test="editDate != null  ">
		edit_date=now(),
	</if>
	<if test="isUse != null  ">
		is_use=#{isUse},
	</if>
	<if test="firstState != null  ">
		first_state=#{firstState},
	</if>
	<if test="productline != null  ">
		productline=#{productline},
	</if>
	</trim> where apply_id=#{applyId}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from first_business_apply where apply_id = #{applyId}
</delete>
 
<!-- 根据id查询 产品首营申请记录 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select t1.*,t2.specs_id
	 from first_business_apply t1
	  left join first_business_product_apply t2 on t1.apply_id = t2.apply_id
	where t1.apply_id = #{applyId}
</select>

<!-- 产品首营申请记录 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from first_business_apply 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询产品首营申请记录列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from first_business_apply 
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>


<!-- 申请记录查询条件 -->
<sql id="Example_Where_Clause_Page">
	where 1=1
	<trim  suffixOverrides="," >
		<if test="condition.productRegisterNo != null and condition.productRegisterNo != ''" >
			and gpr.product_register_no like '%${condition.productRegisterNo}%'
		</if>

		<if test="condition.applyId != null and condition.applyId != ''" >
			and t1.apply_id like '%${condition.applyId}%'
		</if>
		<if test="condition.firstState != null and condition.firstState != ''" >
			and t1.first_state like  '%${condition.firstState}%'
		</if>

		<if test="condition.supplierName != null and condition.supplierName != ''" >
			and eis.descr_c like '%${condition.supplierName}%'
		</if>

		<if test="condition.clientId != null and condition.clientId != ''" >
			and t1.client_id  like CONCAT('%',#{condition.clientId},'%')
		</if>
		<if test="condition.supplierId != null and condition.supplierId != ''" >
			and t1.supplier_id  like CONCAT('%',#{condition.supplierId},'%')
		</if>
		<!--<if test="condition.suppliernName != null and condition.supplierId != ''" >-->
			<!--and t1.supplier_id  like CONCAT('%',#{condition.supplierId},'%')-->
		<!--</if>-->
		<if test="condition.createDateStart != null and condition.createDateStart != ''" >
			and t1.create_Date &gt;= #{condition.createDateStart}
		</if>
		<if test="condition.createDateEnd != null and condition.createDateEnd != ''" >
			and t1.create_Date &lt;= #{condition.createDateEnd}
		</if>
		<if test="condition.isUse != null and condition.isUse != ''" >
			and t1.is_use =  #{condition.isUse}
		</if>
		<if test="condition.productCode != null and condition.productCode != ''" >
			and product_code like CONCAT('%',#{condition.productCode},'%')
		</if>
		<if test="condition.productName != null and condition.productName != ''" >
			and product_name like CONCAT('%',#{condition.productName},'%')
		</if>

		<if test="condition.productline != null and condition.productline != ''" >
			and t1.productline =  #{condition.productline}
		</if>
	</trim>
</sql>
	<select id="selectSupplierNumByProductAndState" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from first_review_log t1
	LEFT JOIN first_business_product_apply t2 on t1.review_type_id = t2.apply_id
	LEFT JOIN gsp_product_register_specs t3 on t3.specs_id = t2.specs_id
	where t3.product_code = #{productCode} and  t1.apply_state = '40'

	</select>

	<select id="selectSupplierNamesByProductAndState" resultType="java.lang.String"  parameterType="Object">
	select t4.DESCR_C from first_business_apply t1
	LEFT JOIN first_business_product_apply t2 on t1.apply_id = t2.apply_id
	LEFT JOIN gsp_product_register_specs t3 on t3.specs_id = t2.specs_id
	LEFT JOIN bas_customer t4 on t1.supplier_id = t4.CUSTOMERID
	where t1.first_state = '40' and  t3.product_code = #{sku}  and t1.client_id = #{customerid}
	and t1.is_use= '1'
	</select>

	<!--通过产品注册证id查询其下的产品的首营申请-->
	<select id="selectByProductRegisterId" resultMap="PageResultMap"  parameterType="Object">
	select t1.* from  first_business_apply t1
	LEFT JOIN first_business_product_apply t2 on t1.apply_id = t2.apply_id
	LEFT JOIN gsp_product_register_specs t3 on t3.specs_id = t2.specs_id
	left join gsp_product_register t4 on t4.product_register_id = t3.product_register_id
	where t4.product_register_id = #{productRegisterId} and t1.is_use = '1'

	</select>


	<!--通过产品注册证id查询其下的产品的首营申请-->
	<select id="selectByOperateId" resultMap="PageResultMap"  parameterType="Object">
		select t1.* from first_business_apply t1
		LEFT JOIN first_business_product_apply t2 on t1.apply_id = t2.apply_id
		LEFT JOIN gsp_product_register_specs t3 on t2.specs_id = t3.specs_id
		LEFT JOIN (select * from gsp_product_register where is_use='1') t4 on t3.product_register_id = t4.product_register_id
		LEFT JOIN gsp_operate_detail T5 ON T5.license_id= t4.product_register_id
		where T5.operate_id =  #{operateId}  and t1.apply_id =#{applyId}
	</select>




	<!--通过产品代码  查询该产品的所有首营-->
	<select id="queryListByProductCode" resultType="java.lang.String"  parameterType="Object">

		select t1.apply_id from first_business_apply t1
		LEFT JOIN first_business_product_apply t2 on t1.apply_id = t2.apply_id
		LEFT JOIN gsp_product_register_specs t3 on t3.specs_id = t2.specs_id
		where t3.product_code = #{productCode}  and t1.is_use = '1'

	</select>


	<!--通过产品id  查询该产品的所有首营-->
	<select id="selectBySpecsId" resultType="java.lang.String"  parameterType="Object">
		select t1.apply_id from first_business_apply t1
		LEFT JOIN first_business_product_apply t2 on t1.apply_id = t2.apply_id
		where t2.specs_id = #{specsId} and t1.is_use ='1'
	</select>


	<select id="selectFirstBusinessBySupplierAndProduct" resultType="java.lang.Integer"  parameterType="Object">
		select  count(1) from first_business_apply t1
		left join first_business_product_apply t2 on t1.apply_id = t2.apply_id
		where t1.supplier_id = #{supplierId,jdbcType=VARCHAR} and t2.specs_id = #{specsId,jdbcType=VARCHAR}
		and t1.client_id = #{clientId,jdbcType=VARCHAR}
		and t1.is_use = '1' and t2.is_use = '1' 
	</select>

	<select id="countByClientAndProduct" resultType="java.lang.Integer"  parameterType="Object">
		select  count(1) from first_business_apply t1
		left join first_business_product_apply t2 on t1.apply_id = t2.apply_id
		left join (select * from gsp_product_register_specs) t3 on t2.specs_id = t3.specs_id
		where t1.client_id = #{clientId} and t3.product_code = #{sku} and t1.is_use = '1' and t2.is_use = '1'
		and t1.first_state = '40'
	</select>


<!-- 查询产品首营申请记录列表 -->
<select id="queryPageList" resultMap="PageResultMap"  parameterType="Object">
	select sp.product_code,sp.specs_id,sp.product_name,t1.apply_id,client_id,eic.descr_c client_name,supplier_id,eis.descr_c supplier_name,t1.create_id,t1.create_date,t1.edit_id,t1.edit_date,t1.is_use,t1.first_state,pl.`name` productline,gpr.product_register_no
	from first_business_apply t1
	left join first_business_product_apply t2 on t1.apply_id = t2.apply_id
	left join gsp_product_register_specs sp on t2.specs_id = sp.specs_id
	left join gsp_product_register gpr on sp.product_register_id = gpr.product_register_id
	left join product_line pl on pl.product_line_id = t1.productline
	left join
	((select customerid,descr_c from bas_customer where  customer_type = 'OW')
	union
	(select customerid,descr_c from bas_customer_history where customer_type = 'OW'  )) eic on t1.client_id = eic.customerid
	left join
	((select customerid,descr_c from bas_customer where   customer_type = 'VE')
	union
	(select customerid,descr_c from bas_customer_history where customer_type = 'VE' )) eis on t1.supplier_id = eis.customerid

	<!-- 查询条件 -->
	<include refid="Example_Where_Clause_Page"/>

	<if test="orderByClause != null and orderByClause != ''" >
		order by  ${orderByClause}
	</if>
	<if test="limitClause != null and limitClause != ''" >
		${limitClause}
	</if>
</select>

<!-- 查询产品首营申请记录列表 -->
<select id="queryPageListCount" resultType="java.lang.Long"  parameterType="Object">
	select count(1)
	from first_business_apply t1
	left join first_business_product_apply t2 on t1.apply_id = t2.apply_id
	left join gsp_product_register_specs sp on t2.specs_id = sp.specs_id
	left join gsp_product_register gpr on sp.product_register_id = gpr.product_register_id
	left join ((select customerid,descr_c from bas_customer where active_flag ='1' and customer_type = 'OW')
	union (select customerid,descr_c from bas_customer_history where customer_type = 'OW'  )) eic on t1.client_id = eic.customerid
	left join ((select customerid,descr_c from bas_customer where active_flag ='1' and customer_type = 'VE')
	union (select customerid,descr_c from bas_customer_history where customer_type = 'VE' )) eis on t1.supplier_id = eis.customerid
	<!-- 查询条件 -->
	<include refid="Example_Where_Clause_Page"/>
</select>

<!-- 根据id，修改记录-->
<update id="updateBusinessByNo" parameterType="Object" >
  update first_business_apply set first_state=#{state} where apply_id=#{no}
 </update>

<!-- 根据id，修改记录-->
<update id="updateCheckingApplySupplierNo" parameterType="Object" >
  update first_business_apply set first_state = 90,is_use=0 where first_state in ('00','10') and supplier_id = #{supplerId}
 </update>

<!--通过产品注册证id查询其下的产品的首营申请-->
<select id="selectByProductRegisterIdAll" resultMap="PageResultMap"  parameterType="Object">
select t1.*,t2.specs_id,t2.product_apply_id from  first_business_apply t1
LEFT JOIN first_business_product_apply t2 on t1.apply_id = t2.apply_id
LEFT JOIN gsp_product_register_specs t3 on t3.specs_id = t2.specs_id
left join gsp_product_register t4 on t4.product_register_id = t3.product_register_id
where t4.product_register_id = #{productRegisterId}

</select>

</mapper>   
