<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.GspEnterpriseInfoMybatisDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.GspEnterpriseInfo" >
	<result column="enterprise_id" property="enterpriseId"/>
	<result column="enterprise_no" property="enterpriseNo"/>
	<result column="shorthand_name" property="shorthandName"/>
	<result column="enterprise_name" property="enterpriseName"/>
	<result column="enterprise_type" property="enterpriseType"/>
	<result column="contacts" property="contacts"/>
	<result column="contacts_phone" property="contactsPhone"/>
	<result column="remark" property="remark"/>
	<result column="create_id" property="createId"/>
	<result column="create_date" property="createDate"/>
	<result column="edit_id" property="editId"/>
	<result column="edit_date" property="editDate"/>
	<result column="is_use" property="isUse"/>
	<result column="state" property="state"/>
	<result column="user_define1" property="userDefine1"/>
	<result column="user_define2" property="userDefine2"/>
	<result column="user_define3" property="userDefine3"/>
	<result column="user_define4" property="userDefine4"/>
</resultMap>
       
<!-- gsp_enterprise_info table all fields -->
<sql id="Base_Column_List" >
	 enterprise_id,enterprise_no,shorthand_name,enterprise_name,enterprise_type,contacts,contacts_phone,remark,create_id,create_date,edit_id,edit_date,is_use,state,user_define1,user_define2,user_define3,user_define4
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.enterpriseId != null and condition.enterpriseId != ''" >
	    and enterprise_id =  #{condition.enterpriseId}
	</if>
	<if test="condition.enterpriseNo != null and condition.enterpriseNo != ''" >
	    and enterprise_no like CONCAT('%',#{condition.enterpriseNo},'%')
	</if>
	<if test="condition.shorthandName != null and condition.shorthandName != ''" >
	    and shorthand_name like CONCAT('%',#{condition.shorthandName},'%')
	</if>
	<if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
	    and enterprise_name like  CONCAT('%',#{condition.enterpriseName},'%')
	</if>
	<if test="condition.enterpriseType != null and condition.enterpriseType != ''" >
	    and enterprise_type =  #{condition.enterpriseType}
	</if>
	<if test="condition.contacts != null and condition.contacts != ''" >
	    and contacts =  #{condition.contacts}
	</if>
	<if test="condition.contactsPhone != null and condition.contactsPhone != ''" >
	    and contacts_phone =  #{condition.contactsPhone}
	</if>
	<if test="condition.remark != null and condition.remark != ''" >
	    and remark =  #{condition.remark}
	</if>
	<if test="condition.createId != null and condition.createId != ''" >
	    and create_id =  #{condition.createId}
	</if>
	<if test="condition.createDate != null and condition.createDate != ''" >
	    and create_date =  #{condition.createDate}
	</if>
	<if test="condition.editId != null and condition.editId != ''" >
	    and edit_id =  #{condition.editId}
	</if>
	<if test="condition.editDate != null and condition.editDate != ''" >
	    and edit_date =  #{condition.editDate}
	</if>
	<if test="condition.isUse != null and condition.isUse != ''" >
	    and is_use =  #{condition.isUse}
	</if>
	<if test="condition.createDateBegin != null and condition.createDateBegin != ''" >
		and create_date &gt;=  #{condition.createDateBegin}
	</if>
	<if test="condition.createDateEnd != null and condition.createDateEnd != ''" >
		and create_date &lt;=  #{condition.createDateEnd}
	</if>
	<if test="condition.state != null and condition.state != ''" >
		and state =  #{condition.state}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into gsp_enterprise_info (enterprise_id,enterprise_no,shorthand_name,enterprise_name,enterprise_type,contacts,contacts_phone,remark,create_id,create_date,edit_id,edit_date,is_use,state)
 values(#{enterpriseId},#{enterpriseNo},#{shorthandName},#{enterpriseName},#{enterpriseType},#{contacts},#{contactsPhone},#{remark},#{createId},now(),#{editId},#{editDate},#{isUse},#{state})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update gsp_enterprise_info set enterprise_no=#{enterpriseNo},shorthand_name=#{shorthandName},enterprise_name=#{enterpriseName},enterprise_type=#{enterpriseType},contacts=#{contacts},contacts_phone=#{contactsPhone},remark=#{remark},create_id=#{createId},create_date=#{createDate},edit_id=#{editId},edit_date=#{editDate},is_use=#{isUse},state=#{state} where enterprise_id=#{enterpriseId}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object">
	update gsp_enterprise_info set 
	<trim  suffixOverrides="," >
	<if test="enterpriseNo != null  ">
		enterprise_no=#{enterpriseNo},
	</if>
	<if test="shorthandName != null  ">
		shorthand_name=#{shorthandName},
	</if>
	<if test="enterpriseName != null  ">
		enterprise_name=#{enterpriseName},
	</if>
	<if test="enterpriseType != null  ">
		enterprise_type=#{enterpriseType},
	</if>
	<if test="contacts != null  ">
		contacts=#{contacts},
	</if>
	<if test="contactsPhone != null  ">
		contacts_phone=#{contactsPhone},
	</if>
	<if test="remark != null  ">
		remark=#{remark},
	</if>
	<if test="createId != null  ">
		create_id=#{createId},
	</if>
	<if test="createDate != null  ">
		create_date=#{createDate},
	</if>
	<if test="editId != null  ">
		edit_id=#{editId},
	</if>
	<if test="editDate != null  ">
		edit_date=#{editDate},
	</if>
	<if test="isUse != null  ">
		is_use=#{isUse},
	</if>
	<if test="state != null  ">
		state=#{state},
	</if>
	</trim> where enterprise_id=#{enterpriseId}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from gsp_enterprise_info where enterprise_id = #{enterpriseId}
</delete>
	<!-- 删除记录 -->
<delete id="deleteGspEnterprise" parameterType="Object">
	update 	 gsp_enterprise_info set is_use='0' where enterprise_id = #{enterpriseId}
</delete>

	<!-- 根据id查询 企业信息 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from gsp_enterprise_info where enterprise_id = #{enterpriseId}
</select>

<!-- 企业信息 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from gsp_enterprise_info 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询企业信息列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from gsp_enterprise_info
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>


<!-- 查询条件 -->
<sql id="Example_Where_Clause_Type">
	where 1=1
	<trim  suffixOverrides="," >
		<if test="condition.enterpriseId != null and condition.enterpriseId != ''" >
			and g.enterprise_id =  #{condition.enterpriseId}
		</if>
		<if test="condition.enterpriseNo != null and condition.enterpriseNo != ''" >
			and g.enterprise_no like CONCAT('%',#{condition.enterpriseNo},'%')
		</if>
		<if test="condition.shorthandName != null and condition.shorthandName != ''" >
			and g.shorthand_name like CONCAT('%',#{condition.shorthandName},'%')
		</if>
		<if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
			and g.enterprise_name like  CONCAT('%',#{condition.enterpriseName},'%')
		</if>
		<if test="condition.enterpriseType != null and condition.enterpriseType != ''" >
			and g.enterprise_type =  #{condition.enterpriseType}
		</if>
		<if test="condition.contacts != null and condition.contacts != ''" >
			and g.contacts =  #{condition.contacts}
		</if>
		<if test="condition.contactsPhone != null and condition.contactsPhone != ''" >
			and g.contacts_phone =  #{condition.contactsPhone}
		</if>
		<if test="condition.remark != null and condition.remark != ''" >
			and g.remark =  #{condition.remark}
		</if>
		<if test="condition.createId != null and condition.createId != ''" >
			and g.create_id =  #{condition.createId}
		</if>
		<if test="condition.createDate != null and condition.createDate != ''" >
			and g.create_date =  #{condition.createDate}
		</if>
		<if test="condition.editId != null and condition.editId != ''" >
			and g.edit_id =  #{condition.editId}
		</if>
		<if test="condition.editDate != null and condition.editDate != ''" >
			and g.edit_date =  #{condition.editDate}
		</if>
		<if test="condition.type != null and condition.type != ''" >
			<choose>
				<when test="condition.type == 'customer'">
					and cus.enterprise_id !=''
				</when>
				<when test="condition.type == 'supplier'">
					and gs.enterprise_id !=''
				</when>
			</choose>
		</if>
		and g.state = '40'
		and g.is_use = '1'
	</trim>
</sql>

<!-- 查询企业信息列表 -->
<select id="queryPageListByType" resultMap="BaseResultMap"  parameterType="Object">
	select
	g.enterprise_id,g.enterprise_no,g.shorthand_name,g.enterprise_name,g.enterprise_type,g.contacts,g.contacts_phone,g.remark,g.create_id,g.create_date,g.edit_id,g.edit_date,g.is_use,bc.codename_c state
	from gsp_enterprise_info g
	left join bas_codes bc on g.state = bc.code
	<if test="condition.type == 'customer'">
		left join gsp_customer cus on g.enterprise_id = cus.enterprise_id
	</if>
	<if test="condition.type == 'supplier'">
		left join gsp_supplier gs on g.enterprise_id = gs.enterprise_id
	</if>
	<include refid="Example_Where_Clause_Type"/>
	<if test="orderByClause != null and orderByClause != ''" >
		order by  ${orderByClause}
	</if>
	<if test="limitClause != null and limitClause != ''" >
		${limitClause}
	</if>
</select>

<!-- 企业信息 列表总数-->
<select id="queryByCountByType" resultType="java.lang.Long"  parameterType="Object">
	select count(1)
	from gsp_enterprise_info g left join gsp_customer cus on g.enterprise_id = cus.enterprise_id
	left join bas_codes bc on g.state = bc.code
	<if test="condition.type == 'customer'">
		left join gsp_customer cus on g.enterprise_id = cus.enterprise_id
	</if>
	<if test="condition.type == 'supplier'">
		left join gsp_supplier gs on g.enterprise_id = gs.enterprise_id
	</if>
	<include refid="Example_Where_Clause_Type"/>
</select>

</mapper>   
