<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.GspReceivingMybatisDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.GspReceiving" >
	<result column="receiving_id" property="receivingId"/>
	<result column="enterprise_id" property="enterpriseId"/>
	<result column="client_id" property="clientId"/>
	<result column="supplier_id" property="supplierId"/>
	<result column="is_check" property="isCheck"/>
	<result column="create_id" property="createId"/>
	<result column="create_date" property="createDate"/>
	<result column="edit_id" property="editId"/>
	<result column="edit_date" property="editDate"/>
	<result column="is_use" property="isUse"/>
	<result column="is_return" property="isReturn"/>
	<result column="first_state" property="firstState"/>
	<result column="enterprise_no" property="enterpriseNo"/>
	<result column="enterprise_name" property="enterpriseName"/>
	<result column="shorthand_name" property="shorthandName"/>
	<result column="enterprise_type" property="enterpriseType"/>
	<result column="customerid" property="customerid"/>
</resultMap>
       
<!-- gsp_receiving table all fields -->
<sql id="Base_Column_List" >
	 receiving_id,enterprise_id,client_id,supplier_id,is_check,create_id,create_date,edit_id,edit_date,is_use,is_return,first_State
</sql>
  <!-- <select  id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	   select * from (select * from gsp_enterprise_info where 1=1
	   <if test="condition.enterpriseNo != null and condition.enterpriseNo != ''">
		   and enterprise_no like CONCAT('%',#{condition.enterpriseNo},'%')
	   </if>
	   <if test="condition.shorthandName != null and condition.shorthandName != ''">
		   and shorthand_name like CONCAT('%',#{condition.shorthandName},'%')
	   </if>
	   <if test="condition.enterpriseName != null and condition.enterpriseName != ''">
		   and enterprise_name like CONCAT('%',#{condition.enterpriseName},'%')
	   </if>
	   ) a,
	   (select * from gsp_receiving where 1=1 <include refid="Example_Where_Clause"/> ) b
	   where a.enterpriseId = b.enterpriseId
	   <if test="orderByClause != null and orderByClause != ''" >
		   order by  ${orderByClause}
	   </if>
	   <if test="limitClause != null and limitClause != ''" >
		   ${limitClause}
	   </if>
   </select>-->
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.receivingId != null and condition.receivingId != ''" >
	    and t1.receiving_id =  #{condition.receivingId}
	</if>
	<if test="condition.enterpriseNo != null and condition.enterpriseNo != ''" >
		and t2.enterprise_no like '%${condition.enterpriseNo}%'
	</if>
	<if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
		and t2.enterprise_name like '%${condition.enterpriseName}%'
	</if>
	<if test="condition.shorthandName != null and condition.shorthandName != ''" >
		and t2.shorthand_name like  '%${condition.shorthandName}%'
	</if>
	<if test="condition.customerid != null and condition.customerid != ''" >
		and t3.customerid like  '%${condition.customerid}%'
	</if>
	<if test="condition.enterpriseType != null and condition.enterpriseType != ''" >
		and t2.enterprise_type =  #{condition.enterpriseType}
	</if>
	<if test="condition.firstState != null and condition.firstState != ''" >
	    and t1.first_state =  #{condition.firstState}
	</if>
	<if test="condition.enterpriseId != null and condition.enterpriseId != ''" >
	    and t1.enterprise_id =  #{condition.enterpriseId}
	</if>
	<if test="condition.clientId != null and condition.clientId != ''" >
	    and t1.client_id =  #{condition.clientId}
	</if>
	<if test="condition.supplierId != null and condition.supplierId != ''" >
	    and t1.supplier_id like CONCAT('%',#{condition.supplierId},'%')
	</if>
	<if test="condition.isCheck != null and condition.isCheck != ''" >
	    and t1.is_check =  #{condition.isCheck}
	</if>
	<if test="condition.createId != null and condition.createId != ''" >
	    and t1.create_id =  #{condition.createId}
	</if>
	<if test="condition.createDate != null and condition.createDate != ''" >
	    and t1.create_date =  #{condition.createDate}
	</if>
	<if test="condition.editId != null and condition.editId != ''" >
	    and t1.edit_id =  #{condition.editId}
	</if>
	<if test="condition.editDate != null and condition.editDate != ''" >
	    and t1.edit_date =  #{condition.editDate}
	</if>
	<if test="condition.isUse != null and condition.isUse != ''" >
	    and t1.is_use =  #{condition.isUse}
	</if>
	<if test="condition.isReturn != null and condition.isReturn != ''" >
	    and t1.is_return =  #{condition.isReturn}
	</if>
	<if test="condition.firstState != null and condition.firstState != ''" >
	    and t1.first_state =  #{condition.firstState}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into gsp_receiving(receiving_id,enterprise_id,client_id,supplier_id,is_check,create_id,create_date,edit_id,edit_date,is_use,is_return,first_state)
 values(#{receivingId},#{enterpriseId},#{clientId},#{supplierId},#{isCheck},#{createId},now(),#{editId},now(),#{isUse},#{isReturn},#{firstState})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update gsp_receiving set enterprise_id=#{enterpriseId},client_id=#{clientId},supplier_id=#{supplierId},is_check=#{isCheck},create_id=#{createId},create_date=#{createDate},edit_id=#{editId},edit_date=#{editDate},is_use=#{isUse},is_return=#{isReturn},first_state=#{firstState} where receiving_id=#{receivingId}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update gsp_receiving set 
	<trim  suffixOverrides="," >
	<if test="enterpriseId != null  ">
		enterprise_id=#{enterpriseId},
	</if>
	<if test="clientId != null  ">
		client_id=#{clientId},
	</if>
	<if test="supplierId != null  ">
		supplier_id=#{supplierId},
	</if>
	<if test="isCheck != null  ">
		is_check=#{isCheck},
	</if>
	<if test="createId != null  ">
		create_id=#{createId},
	</if>
	<if test="createDate != null  ">
		create_date=#{createDate},
	</if>
	<if test="editId != null  ">
		edit_id=#{editId},
	</if>
	<if test="editDate != null  ">
		edit_date=now(),
	</if>
	<if test="isUse != null  ">
		is_use=#{isUse},
	</if>
	<if test="isReturn != null  ">
		is_return=#{isReturn},
	</if>
	<if test="firstState != null  ">
		first_state=#{firstState},
	</if>
	</trim> where receiving_id=#{receivingId}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	update 	 gsp_receiving set is_use = '0' where receiving_id = #{receivingId}
</delete>
	<!--&lt;!&ndash; 删记录 &ndash;&gt;-->
	<!--<delete id="deleteR" parameterType="Object">-->
	<!--update 	 gsp_receiving set is_use = '0' where receiving_id = #{receivingId}-->
<!--</delete>-->


<!-- 根据id查询 收货地址 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from gsp_receiving where receiving_id = #{receivingId}
</select>
	<!--&lt;!&ndash; 根据企业id和企业类型  查询 收货地址 &ndash;&gt;-->
	<!--<select id="queryByEnterprise"  resultMap="BaseResultMap" parameterType="Object">-->
		<!--select <include refid="Base_Column_List" />-->
		<!--from gsp_receiving where enterprise_id = #{enterpriseId} and enterprise_type = #{enterpriseType}-->
	<!--</select>-->
<!-- 收货地址 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from gsp_receiving 
	where 1=1
	<if test="condition.receivingId != null or condition.receivingId == ''" >
		and receiving_id =  #{condition.receivingId}
	</if>
	<if test="condition.firstState != null and condition.firstState != ''" >
		and first_state =  #{condition.firstState}
	</if>
	<if test="condition.enterpriseId != null and condition.enterpriseId != ''" >
		and enterprise_id =  #{condition.enterpriseId}
	</if>
	<if test="condition.clientId != null and condition.clientId != ''" >
		and client_id =  #{condition.clientId}
	</if>
	<if test="condition.supplierId != null and condition.supplierId != ''" >
		and supplier_id =  #{condition.supplierId}
	</if>
	<if test="condition.isCheck != null and condition.isCheck != ''" >
		and is_check =  #{condition.isCheck}
	</if>
	<if test="condition.createId != null and condition.createId != ''" >
		and create_id =  #{condition.createId}
	</if>
	<if test="condition.createDate != null and condition.createDate != ''" >
		and create_date =  #{condition.createDate}
	</if>
	<if test="condition.editId != null and condition.editId != ''" >
		and edit_id =  #{condition.editId}
	</if>
	<if test="condition.editDate != null and condition.editDate != ''" >
		and edit_date =  #{condition.editDate}
	</if>
	<if test="condition.isUse != null and condition.isUse != ''" >
		and is_use =  #{condition.isUse}
	</if>
	<if test="condition.isReturn != null and condition.isReturn != ''" >
		and is_return =  #{condition.isReturn}
	</if>
	<if test="condition.firstState != null and condition.firstState != ''" >
		and first_state =  #{condition.firstState}
	</if>
</select>

	<select id="selectByClientIdAndReceiving" resultType="java.lang.Integer"  parameterType="Object">
		select  count(1) from gsp_receiving
		where enterprise_id=#{enterpriseId,jdbcType=VARCHAR} and client_id=#{clientId,jdbcType=VARCHAR}
		and is_use = 1
	</select>

	<!-- 根据企业id查询收货单位-->
<select id="queryByEnterpriseId"  resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from gsp_receiving where enterprise_id = #{enterpriseId}
</select>
  	
 <!--查询收货地址列表-->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select DISTINCT(t1.enterprise_id),t1.*,t2.enterprise_no,t2.enterprise_name,t2.shorthand_name,t2.enterprise_type,t3.customerid
	from gsp_receiving t1 left join gsp_enterprise_info t2
	ON t1.enterprise_id = t2.enterprise_id
	left join bas_customer t3 on t1.enterprise_id = t3.enterprise_id and t3.customer_type='CO'
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
		order by  ${orderByClause}
	</if>
	<if test="limitClause != null and limitClause != ''" >
		${limitClause}
	</if>
	<!--select
	<include refid="Base_Column_List"/>
	from gsp_receiving 
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>-->
</select>

<!-- 根据id，修改记录-->
<update id="updateFirstState" parameterType="Object" >
  update gsp_receiving set first_state=#{state} where receiving_id=#{no}
</update>
  	
</mapper>   
