<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.GspSupplierMybatisDao" >
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.GspSupplier" >
	<result column="supplier_id" property="supplierId"/>
	<result column="enterprise_id" property="enterpriseId"/>
	<result column="is_check" property="isCheck"/>
	<result column="operate_type" property="operateType"/>
	<result column="create_id" property="createId"/>
	<result column="create_date" property="createDate"/>
	<result column="edit_id" property="editId"/>
	<result column="edit_date" property="editDate"/>
	<result column="is_use" property="isUse"/>
	<result column="first_state" property="firstState"/>
	<result column="enterprise_no" property="enterpriseNo"/>
	<result column="enterprise_name" property="enterpriseName"/>
	<result column="shorthand_name" property="shorthandName"/>
	<result column="enterprise_type" property="enterpriseType"/>

	<result column="contract_no" property="contractNo"/>
	<result column="contract_url" property="contractUrl"/>
	<result column="client_content" property="clientContent"/>
	<result column="client_start_date" property="clientStartDate"/>
	<result column="client_end_date" property="clientEndDate"/>
	<result column="client_term" property="clientTerm"/>

</resultMap>
       
<!-- gsp_supplier table all fields -->
<sql id="Base_Column_List" >
	 supplier_id,enterprise_id,is_check,operate_type,create_id,create_date,edit_id,edit_date,is_use,first_state,contractNo,contractUrl,clientContent,clientStartDate,clientEndDate,clientTerm
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.supplierId != null and condition.supplierId != ''" >
	    and supplier_id like '%${condition.supplierId}%'
	</if>
	<if test="condition.enterpriseId != null and condition.enterpriseId != ''" >
	    and t1.enterprise_id like '%${condition.enterpriseId}%'
	</if>
	<if test="condition.isCheck != null and condition.isCheck != ''" >
	    and is_check =  #{condition.isCheck}
	</if>

	<if test="condition.createDateStart != null and condition.createDateStart != ''" >
		and t1.create_date   <![CDATA[  >=  ]]>  #{condition.createDateStart}
	</if>
	<if test="condition.createDateEnd != null and condition.createDateEnd != ''" >
		and     #{condition.createDateEnd}  <![CDATA[  >=  ]]> t1.create_date
	</if>
	<if test="condition.editDateStart != null and condition.editDateStart != ''" >
		and t1.edit_date   <![CDATA[  >=  ]]>  #{condition.editDateStart}
	</if>
	<if test="condition.editDateEnd != null and condition.editDateEnd != ''" >
		and     #{condition.editDateEnd}  <![CDATA[  >=  ]]> t1.edit_date
	</if>


	<!--<if test="condition.operateType != null and condition.operateType != ''" >-->
	    <!--and operate_type =  #{condition.operateType}-->
	<!--</if>-->
	<if test="condition.createId != null and condition.createId != ''" >
	    and t1.create_id like '%${condition.createId}%'
	</if>
	<if test="condition.createDate != null and condition.createDate != ''" >
	    and t1.create_date like '%${condition.createDate}%'
	</if>
	<if test="condition.editId != null and condition.editId != ''" >
	    and t1.edit_id like '%${condition.editId}%'
	</if>
	<if test="condition.editDate != null and condition.editDate != ''" >
	    and t1.edit_date like '%${condition.editDate}%'
	</if>
	<if test="condition.isUse != null and condition.isUse != ''" >
	    and t1.is_use =  #{condition.isUse}
	</if>


	<if test="condition.enterpriseNo != null and condition.enterpriseNo != ''" >
		and t2.enterprise_no like '%${condition.enterpriseNo}%'
	</if>
	<if test="condition.enterpriseIdQuery != null and condition.enterpriseIdQuery != ''" >
		and t2.enterprise_name = #{condition.enterpriseIdQuery}
	</if>
	<if test="condition.shorthandName != null and condition.shorthandName != ''" >
		and t2.shorthand_name like  '%${condition.shorthandName}%'
	</if>
	<if test="condition.operateType != null and condition.operateType != ''" >
		and t2.enterprise_type like  '%${condition.operateType}%'
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into gsp_supplier(supplier_id,enterprise_id,is_check,operate_type,create_id,first_state,create_date,edit_id,edit_date,is_use,contract_no,contract_url,client_content,client_start_date,client_end_date,client_term
)
 values(#{supplierId},#{enterpriseId},#{isCheck},#{operateType},#{createId},#{firstState},#{createDate},#{editId},#{editDate},#{isUse},#{contractNo},#{contractUrl},#{clientContent},#{clientStartDate},#{clientEndDate},#{clientTerm})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update gsp_supplier set enterprise_id=#{enterpriseId},is_check=#{isCheck},operate_type=#{operateType},create_id=#{createId},create_date=#{createDate},edit_id=#{editId},edit_date=#{editDate},is_use=#{isUse} where supplier_id=#{supplierId}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update gsp_supplier set 
	<trim  suffixOverrides="," >
	<if test="enterpriseId != null  ">
		enterprise_id=#{enterpriseId},
	</if>
	<if test="isCheck != null  ">
		is_check=#{isCheck},
	</if>
	<if test="operateType != null  ">
		operate_type=#{operateType},
	</if>
	<if test="firstState != null  ">
		first_state=#{firstState},
	</if>



    <if test="contractNo != null  ">
        contract_no=#{contractNo},
    </if>
    <if test="contractUrl != null  ">
        contract_url=#{contractUrl},
    </if>
    <if test="clientContent != null  ">
        client_content=#{clientContent},
    </if>
    <if test="clientStartDate != null  ">
        client_start_date=#{clientStartDate},
    </if>
    <if test="clientEndDate != null  ">
        client_end_date=#{clientEndDate},
    </if>
    <if test="clientTerm != null  ">
        client_term=#{clientTerm},
    </if>



    <if test="createId != null  ">
        create_id=#{createId},
	</if>
	<if test="createDate != null  ">
		create_date=#{createDate},
	</if>
	<if test="editId != null  ">
		edit_id=#{editId},
	</if>
	<if test="editDate != null  ">
		edit_date=#{editDate},
	</if>
	<if test="isUse != null  ">
		is_use=#{isUse},
	</if>
	</trim> where supplier_id=#{supplierId}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from gsp_supplier where supplier_id = #{supplierId}
</delete>
<!-- 记录失效 -->
<delete id="deleteNotUse" parameterType="Object">
	update 	gsp_supplier set is_use=  0
	where supplier_id=#{supplierId}
</delete>



<!-- 根据id查询 供应商首营申请 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select t1.*,t2.enterprise_no,t2.enterprise_name,t2.shorthand_name,t2.enterprise_type
	from gsp_supplier t1 left join gsp_enterprise_info t2
	ON t1.enterprise_id = t2.enterprise_id where supplier_id = #{supplierId}
</select>

<!-- 供应商首营申请 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from gsp_supplier t1 left join gsp_enterprise_info t2
	ON t1.enterprise_id = t2.enterprise_id
	<include refid="Example_Where_Clause"/>
</select>



<!-- 查询供应商首营申请列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select t1.*,t2.enterprise_no,t2.enterprise_name,t2.shorthand_name,t2.enterprise_type
	from gsp_supplier t1 left join gsp_enterprise_info t2
	ON t1.enterprise_id = t2.enterprise_id
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
  	
</mapper>   
