<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.RptOrdershipment2bMybatisDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.RptOrdershipment2b" >
	<result column="addtime" property="addtime"/>
	<result column="cnt" property="cnt"/>
	<result column="codename_c" property="codenameC"/>
	<result column="consigneeid" property="consigneeid"/>
	<result column="consigneename" property="consigneename"/>
	<result column="customerid" property="customerid"/>
	<result column="c_address1" property="cAddress1"/>
	<result column="c_address2" property="cAddress2"/>
	<result column="c_city" property="cCity"/>
	<result column="c_province" property="cProvince"/>
	<result column="c_tel1" property="cTel1"/>
	<result column="c_tel2" property="cTel2"/>
	<result column="edi09" property="edi09"/>
	<result column="edi10" property="edi10"/>
	<result column="lastshipmenttime" property="lastshipmenttime"/>
	<result column="notes" property="notes"/>
	<result column="orderno" property="orderno"/>
	<result column="soreference1" property="soreference1"/>
	<result column="soreference2" property="soreference2"/>
	<result column="sostatus" property="sostatus"/>
	<result column="warehouseid" property="warehouseid"/>
	<result column="addtimetext" property="addtimetext"/>
	<result column="lastshipmenttimetext" property="lastshipmenttimetext"/>
</resultMap>
       
<!-- Rpt_Ordershipment_2b table all fields -->
<sql id="Base_Column_List" >
	 addtime,cnt,codename_c,consigneeid,consigneename,customerid,c_address1,c_address2,c_city,c_province,c_tel1,c_tel2,edi09,edi10,lastshipmenttime,notes,orderno,soreference1,soreference2,sostatus,warehouseid,addtimetext,lastshipmenttimetext
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.addtime != null and condition.addtime != '' and condition.addtimetext != null and condition.addtimetext != ''" >
	    and to_char(to_date(addtime,'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss') between #{condition.addtime} and #{condition.addtimetext}
	</if>
	<if test="condition.cnt != null and condition.cnt != ''" >
	    and cnt =  #{condition.cnt}
	</if>
	<if test="condition.codenameC != null and condition.codenameC != ''" >
	    and codename_c =  #{condition.codenameC}
	</if>
	<if test="condition.consigneeid != null and condition.consigneeid != ''" >
	    and consigneeid =  #{condition.consigneeid}
	</if>
	<if test="condition.consigneename != null and condition.consigneename != ''" >
	    and consigneename =  #{condition.consigneename}
	</if>
	<if test="condition.customerid != null and condition.customerid != ''" >
	    and customerid =  #{condition.customerid}
	</if>
	<if test="condition.cAddress1 != null and condition.cAddress1 != ''" >
	    and c_address1 =  #{condition.cAddress1}
	</if>
	<if test="condition.cAddress2 != null and condition.cAddress2 != ''" >
	    and c_address2 =  #{condition.cAddress2}
	</if>
	<if test="condition.cCity != null and condition.cCity != ''" >
	    and c_city =  #{condition.cCity}
	</if>
	<if test="condition.cProvince != null and condition.cProvince != ''" >
	    and c_province =  #{condition.cProvince}
	</if>
	<if test="condition.cTel1 != null and condition.cTel1 != ''" >
	    and c_tel1 =  #{condition.cTel1}
	</if>
	<if test="condition.cTel2 != null and condition.cTel2 != ''" >
	    and c_tel2 =  #{condition.cTel2}
	</if>
	<if test="condition.edi09 != null and condition.edi09 != ''" >
	    and edi09 =  #{condition.edi09}
	</if>
	<if test="condition.edi10 != null and condition.edi10 != ''" >
	    and edi10 =  #{condition.edi10}
	</if>
	<if test="condition.lastshipmenttime != null and condition.lastshipmenttime != '' and condition.lastshipmenttimetext != null and condition.lastshipmenttimetext != ''" >
	     and to_char(to_date(lastshipmenttime,'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss') between #{condition.lastshipmenttime} and #{condition.lastshipmenttimetext}
	</if>
	<if test="condition.notes != null and condition.notes != ''" >
	    and notes =  #{condition.notes}
	</if>
	<if test="condition.orderno != null and condition.orderno != ''" >
	    and orderno =  #{condition.orderno}
	</if>
	<if test="condition.soreference1 != null and condition.soreference1 != ''" >
	    and soreference1 =  #{condition.soreference1}
	</if>
	<if test="condition.soreference2 != null and condition.soreference2 != ''" >
	    and soreference2 =  #{condition.soreference2}
	</if>
	<if test="condition.sostatus != null and condition.sostatus != ''" >
	    and sostatus =  #{condition.sostatus}
	</if>
	<if test="condition.warehouseid != null and condition.warehouseid != ''" >
	    and warehouseid =  #{condition.warehouseid}
	</if>
	<if test="condition.customerSet != null" >
		<if test="condition.customerSet.isEmpty() == false" >
			and customerid in (
			<foreach collection="condition.customerSet" item="customerSet" index="index" separator="," >
				#{customerSet.id,jdbcType=VARCHAR}
			</foreach>
			)
		</if>
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into Rpt_Ordershipment_2b(addtime,cnt,codename_c,consigneeid,consigneename,customerid,c_address1,c_address2,c_city,c_province,c_tel1,c_tel2,edi09,edi10,lastshipmenttime,notes,orderno,soreference1,soreference2,sostatus,warehouseid)
 values(#{addtime},#{cnt},#{codenameC},#{consigneeid},#{consigneename},#{customerid},#{cAddress1},#{cAddress2},#{cCity},#{cProvince},#{cTel1},#{cTel2},#{edi09},#{edi10},#{lastshipmenttime},#{notes},#{orderno},#{soreference1},#{soreference2},#{sostatus},#{warehouseid})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update Rpt_Ordershipment_2b set cnt=#{cnt},codename_c=#{codenameC},consigneeid=#{consigneeid},consigneename=#{consigneename},customerid=#{customerid},c_address1=#{cAddress1},c_address2=#{cAddress2},c_city=#{cCity},c_province=#{cProvince},c_tel1=#{cTel1},c_tel2=#{cTel2},edi09=#{edi09},edi10=#{edi10},lastshipmenttime=#{lastshipmenttime},notes=#{notes},orderno=#{orderno},soreference1=#{soreference1},soreference2=#{soreference2},sostatus=#{sostatus},warehouseid=#{warehouseid} where addtime=#{addtime}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update Rpt_Ordershipment_2b set 
	<trim  suffixOverrides="," >
	<if test="cnt != null  ">
		cnt=#{cnt},
	</if>
	<if test="codenameC != null  ">
		codename_c=#{codenameC},
	</if>
	<if test="consigneeid != null  ">
		consigneeid=#{consigneeid},
	</if>
	<if test="consigneename != null  ">
		consigneename=#{consigneename},
	</if>
	<if test="customerid != null  ">
		customerid=#{customerid},
	</if>
	<if test="cAddress1 != null  ">
		c_address1=#{cAddress1},
	</if>
	<if test="cAddress2 != null  ">
		c_address2=#{cAddress2},
	</if>
	<if test="cCity != null  ">
		c_city=#{cCity},
	</if>
	<if test="cProvince != null  ">
		c_province=#{cProvince},
	</if>
	<if test="cTel1 != null  ">
		c_tel1=#{cTel1},
	</if>
	<if test="cTel2 != null  ">
		c_tel2=#{cTel2},
	</if>
	<if test="edi09 != null  ">
		edi09=#{edi09},
	</if>
	<if test="edi10 != null  ">
		edi10=#{edi10},
	</if>
	<if test="lastshipmenttime != null  ">
		lastshipmenttime=#{lastshipmenttime},
	</if>
	<if test="notes != null  ">
		notes=#{notes},
	</if>
	<if test="orderno != null  ">
		orderno=#{orderno},
	</if>
	<if test="soreference1 != null  ">
		soreference1=#{soreference1},
	</if>
	<if test="soreference2 != null  ">
		soreference2=#{soreference2},
	</if>
	<if test="sostatus != null  ">
		sostatus=#{sostatus},
	</if>
	<if test="warehouseid != null  ">
		warehouseid=#{warehouseid},
	</if>
	</trim> where addtime=#{addtime}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from Rpt_Ordershipment_2b where addtime = #{addtime}
</delete>
 
<!-- 根据id查询 订单2B发运信息 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from Rpt_Ordershipment_2b where addtime = #{addtime}
</select>

<!-- 订单2B发运信息 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from Rpt_Ordershipment_2b 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询订单2B发运信息列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from Rpt_Ordershipment_2b 
	<include refid="Example_Where_Clause"/>
	<!--
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
     -->
</select>

<!-- 查询订单2B发运信息分页列表 -->
<select id="queryByPageList" resultMap="BaseResultMap"  parameterType="Object">
	select * from (
	select a.* from (
	select 
	<include refid="Base_Column_List"/>
	from Rpt_Ordershipment_2b 
	<include refid="Example_Where_Clause"/>
	<!-- <if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if> -->
    order by customerid,orderno
    ) a 
	) b
	where 1 = 1
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
  	
</mapper>   
