<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.RptOrderPackingshipMybatisDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.RptOrderPackingship" >
	<result column="addtime" property="addtime"/>
	<result column="cube" property="cube"/>
	<result column="customerid" property="customerid"/>
	<result column="descr_c" property="descrC"/>
	<result column="grossweight" property="grossweight"/>
	<result column="lastshipmenttime" property="lastshipmenttime"/>
	<result column="orderno" property="orderno"/>
	<result column="qty" property="qty"/>
	<result column="sku" property="sku"/>
	<result column="soreference1" property="soreference1"/>
	<result column="soreference3" property="soreference3"/>
	<result column="traceid" property="traceid"/>
	<result column="warehouseid" property="warehouseid"/>
	<result column="addtimetext" property="addtimetext"/>
	<result column="lastshipmenttimetext" property="lastshipmenttimetext"/>
</resultMap>
       
<!-- Rpt_Order_Packingship table all fields -->
<sql id="Base_Column_List" >
	 addtime,cube,customerid,descr_c,grossweight,lastshipmenttime,orderno,qty,sku,soreference1,soreference3,traceid,warehouseid,addtimetext,lastshipmenttimetext
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.addtime != null and condition.addtime != '' and  condition.addtimetext != null and condition.addtimetext != ''" >
	    and to_char(to_date(addtime,'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss') between #{condition.addtime} and #{condition.addtimetext}
	</if>
	<if test="condition.cube != null and condition.cube != ''" >
	    and cube =  #{condition.cube}
	</if>
	<if test="condition.customerid != null and condition.customerid != ''" >
	    and customerid =  #{condition.customerid}
	</if>
	<if test="condition.descrC != null and condition.descrC != ''" >
	    and descr_c =  #{condition.descrC}
	</if>
	<if test="condition.grossweight != null and condition.grossweight != ''" >
	    and grossweight =  #{condition.grossweight}
	</if>
	<if test="condition.lastshipmenttime != null and condition.lastshipmenttime != '' and condition.lastshipmenttimetext != null and condition.lastshipmenttimetext != ''" >
	     and to_char(to_date(lastshipmenttime,'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss') between #{condition.lastshipmenttime} and #{condition.lastshipmenttimetext}
	</if>
	<if test="condition.orderno != null and condition.orderno != ''" >
	    and orderno =  #{condition.orderno}
	</if>
	<if test="condition.qty != null and condition.qty != ''" >
	    and qty =  #{condition.qty}
	</if>
	<if test="condition.sku != null and condition.sku != ''" >
	    and sku =  #{condition.sku}
	</if>
	<if test="condition.soreference1 != null and condition.soreference1 != ''" >
	    and soreference1 =  #{condition.soreference1}
	</if>
	<if test="condition.soreference3 != null and condition.soreference3 != ''" >
	    and soreference3 =  #{condition.soreference3}
	</if>
	<if test="condition.traceid != null and condition.traceid != ''" >
	    and traceid =  #{condition.traceid}
	</if>
	<if test="condition.warehouseid != null and condition.warehouseid != ''" >
	    and warehouseid =  #{condition.warehouseid}
	</if>
	<if test="condition.customerSet != null" >
		<if test="condition.customerSet.isEmpty() == false" >
			and customerid in (
			<foreach collection="condition.customerSet" item="customerSet" index="index" separator="," >
				#{customerSet.id,jdbcType=VARCHAR}
			</foreach>
			)
		</if>
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into Rpt_Order_Packingship(addtime,cube,customerid,descr_c,grossweight,lastshipmenttime,orderno,qty,sku,soreference1,soreference3,traceid,warehouseid)
 values(#{addtime},#{cube},#{customerid},#{descrC},#{grossweight},#{lastshipmenttime},#{orderno},#{qty},#{sku},#{soreference1},#{soreference3},#{traceid},#{warehouseid})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update Rpt_Order_Packingship set cube=#{cube},customerid=#{customerid},descr_c=#{descrC},grossweight=#{grossweight},lastshipmenttime=#{lastshipmenttime},orderno=#{orderno},qty=#{qty},sku=#{sku},soreference1=#{soreference1},soreference3=#{soreference3},traceid=#{traceid},warehouseid=#{warehouseid} where addtime=#{addtime}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update Rpt_Order_Packingship set 
	<trim  suffixOverrides="," >
	<if test="cube != null  ">
		cube=#{cube},
	</if>
	<if test="customerid != null  ">
		customerid=#{customerid},
	</if>
	<if test="descrC != null  ">
		descr_c=#{descrC},
	</if>
	<if test="grossweight != null  ">
		grossweight=#{grossweight},
	</if>
	<if test="lastshipmenttime != null  ">
		lastshipmenttime=#{lastshipmenttime},
	</if>
	<if test="orderno != null  ">
		orderno=#{orderno},
	</if>
	<if test="qty != null  ">
		qty=#{qty},
	</if>
	<if test="sku != null  ">
		sku=#{sku},
	</if>
	<if test="soreference1 != null  ">
		soreference1=#{soreference1},
	</if>
	<if test="soreference3 != null  ">
		soreference3=#{soreference3},
	</if>
	<if test="traceid != null  ">
		traceid=#{traceid},
	</if>
	<if test="warehouseid != null  ">
		warehouseid=#{warehouseid},
	</if>
	</trim> where addtime=#{addtime}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from Rpt_Order_Packingship where addtime = #{addtime}
</delete>
 
<!-- 根据id查询 订单装箱清单-发运 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from Rpt_Order_Packingship where addtime = #{addtime}
</select>

<!-- 订单装箱清单-发运 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from Rpt_Order_Packingship 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询订单装箱清单-发运列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from Rpt_Order_Packingship 
	<include refid="Example_Where_Clause"/>
	<!-- 
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
     -->
</select>

<!-- 查询订单装箱清单-发运分页列表 -->
<select id="queryByPageList" resultMap="BaseResultMap"  parameterType="Object">
	select * from (
	select a.* from (
	select 
	<include refid="Base_Column_List"/>
	from Rpt_Order_Packingship 
	<include refid="Example_Where_Clause"/>
	<!-- <if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if> -->
    order by soreference3, orderno, traceid, sku
    ) a 
	) b
	where 1 = 1
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
  	
</mapper>   
