<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.RptOrderPackingPerformMybatisDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.RptOrderPackingPerform" >
	<result column="customerid" property="customerid"/>
	<result column="qtyordered" property="qtyordered"/>
	<result column="sdate" property="sdate"/>
	<result column="sdatetext" property="sdatetext"/>
	<result column="ttim" property="ttim"/>
	<result column="user_id" property="userId"/>
	<result column="user_name" property="userName"/>
</resultMap>
       
<!-- Rpt_Order_Packing_Perform table all fields -->
<sql id="Base_Column_List" >
	 customerid,qtyordered,sdate,sdatetext,ttim,user_id,user_name
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.customerid != null and condition.customerid != ''" >
	    and customerid =  #{condition.customerid}
	</if>
	<if test="condition.qtyordered != null and condition.qtyordered != ''" >
	    and qtyordered =  #{condition.qtyordered}
	</if>
	<if test="condition.sdate != null and condition.sdate != ''" >
	    and sdate =  #{condition.sdate}
	</if>
	<if test="condition.sdatetext != null and condition.sdatetext != ''" >
	    and sdatetext =  #{condition.sdatetext}
	</if>
	<if test="condition.ttim != null and condition.ttim != ''" >
	    and ttim =  #{condition.ttim}
	</if>
	<if test="condition.userId != null and condition.userId != ''" >
	    and user_id =  #{condition.userId}
	</if>
	<if test="condition.userName != null and condition.userName != ''" >
	    and user_name =  #{condition.userName}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into Rpt_Order_Packing_Perform(customerid,qtyordered,sdate,sdatetext,ttim,user_id,user_name)
 values(#{customerid},#{qtyordered},#{sdate},#{sdatetext},#{ttim},#{userId},#{userName})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update Rpt_Order_Packing_Perform set qtyordered=#{qtyordered},sdate=#{sdate},sdatetext=#{sdatetext},ttim=#{ttim},user_id=#{userId},user_name=#{userName} where customerid=#{customerid}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update Rpt_Order_Packing_Perform set 
	<trim  suffixOverrides="," >
	<if test="qtyordered != null  ">
		qtyordered=#{qtyordered},
	</if>
	<if test="sdate != null  ">
		sdate=#{sdate},
	</if>
	<if test="sdatetext != null  ">
		sdatetext=#{sdatetext},
	</if>
	<if test="ttim != null  ">
		ttim=#{ttim},
	</if>
	<if test="userId != null  ">
		user_id=#{userId},
	</if>
	<if test="userName != null  ">
		user_name=#{userName},
	</if>
	</trim> where customerid=#{customerid}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from Rpt_Order_Packing_Perform where customerid = #{customerid}
</delete>
 
<!-- 根据id查询 订单拣货绩效统计 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from Rpt_Order_Packing_Perform where customerid = #{customerid}
</select>

<!-- 订单拣货绩效统计 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from Rpt_Order_Packing_Perform 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询订单拣货绩效统计列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from Rpt_Order_Packing_Perform 
	<include refid="Example_Where_Clause"/>
	<!--
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
    -->
</select>

<!-- 查询订单拣货绩效统计分页列表 -->
<select id="queryByPageList" resultMap="BaseResultMap"  parameterType="Object">
	select * from (
	select a.*,rownum as row_num from (
	select 
	<include refid="Base_Column_List"/>
	from Rpt_Order_Packing_Perform 
	<include refid="Example_Where_Clause"/>
	<!-- <if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if> -->
    order by sdate desc,user_id,customerid
    ) a 
	) 
	where 1 = 1
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
  	
</mapper>   
