<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.RptSoDailyMybatisDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.RptSoDaily" >
	<result column="address" property="address"/>
	<result column="asnreference1inreport" property="asnreference1inreport"/>
	<result column="asnreference2inreport" property="asnreference2inreport"/>
	<result column="asnreference3inreport" property="asnreference3inreport"/>
	<result column="carriername" property="carriername"/>
	<result column="commodity" property="commodity"/>
	<result column="consigneename" property="consigneename"/>
	<result column="cubic" property="cubic"/>
	<result column="customerid" property="customerid"/>
	<result column="doclineno" property="doclineno"/>
	<result column="expdeliverytime" property="expdeliverytime"/>
	<result column="grossweight" property="grossweight"/>
	<result column="lotatt01" property="lotatt01"/>
	<result column="lotatt02" property="lotatt02"/>
	<result column="lotatt03" property="lotatt03"/>
	<result column="lotatt04" property="lotatt04"/>
	<result column="lotatt05" property="lotatt05"/>
	<result column="lotatt06" property="lotatt06"/>
	<result column="notes" property="notes"/>
	<result column="orderno" property="orderno"/>
	<result column="ordertime" property="ordertime"/>
	<result column="ordertype" property="ordertype"/>
	<result column="packid" property="packid"/>
	<result column="packuom1" property="packuom1"/>
	<result column="qtyordered" property="qtyordered"/>
	<result column="qtyshipped" property="qtyshipped"/>
	<result column="shipmenttime" property="shipmenttime"/>
	<result column="shipmenttimetext" property="shipmenttimetext"/>
	<result column="sku" property="sku"/>
	<result column="skugroup" property="skugroup"/>
	<result column="skutext" property="skutext"/>
	<result column="sku_descr_c" property="skuDescrC"/>
	<result column="sku_descr_e" property="skuDescrE"/>
	<result column="udf1" property="udf1"/>
	<result column="udf2" property="udf2"/>
	<result column="udf3" property="udf3"/>
	<result column="warehouseid" property="warehouseid"/>
</resultMap>
       
<!-- Rpt_So_Daily table all fields -->
<sql id="Base_Column_List" >
	 address,asnreference1inreport,asnreference2inreport,asnreference3inreport,carriername,commodity,consigneename,cubic,customerid,doclineno,expdeliverytime,grossweight,lotatt01,lotatt02,lotatt03,lotatt04,lotatt05,lotatt06,notes,orderno,ordertime,ordertype,packid,packuom1,qtyordered,qtyshipped,shipmenttime,shipmenttimetext,sku,skugroup,skutext,sku_descr_c,sku_descr_e,udf1,udf2,udf3,warehouseid
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.address != null and condition.address != ''" >
	    and address =  #{condition.address}
	</if>
	<if test="condition.asnreference1inreport != null and condition.asnreference1inreport != ''" >
	    and asnreference1inreport =  #{condition.asnreference1inreport}
	</if>
	<if test="condition.asnreference2inreport != null and condition.asnreference2inreport != ''" >
	    and asnreference2inreport =  #{condition.asnreference2inreport}
	</if>
	<if test="condition.asnreference3inreport != null and condition.asnreference3inreport != ''" >
	    and asnreference3inreport =  #{condition.asnreference3inreport}
	</if>
	<if test="condition.carriername != null and condition.carriername != ''" >
	    and carriername =  #{condition.carriername}
	</if>
	<if test="condition.commodity != null and condition.commodity != ''" >
	    and commodity =  #{condition.commodity}
	</if>
	<if test="condition.consigneename != null and condition.consigneename != ''" >
	    and consigneename =  #{condition.consigneename}
	</if>
	<if test="condition.cubic != null and condition.cubic != ''" >
	    and cubic =  #{condition.cubic}
	</if>
	<if test="condition.customerid != null and condition.customerid != ''" >
	    and customerid =  #{condition.customerid}
	</if>
	<if test="condition.doclineno != null and condition.doclineno != ''" >
	    and doclineno =  #{condition.doclineno}
	</if>
	<if test="condition.expdeliverytime != null and condition.expdeliverytime != ''" >
	    and expdeliverytime =  #{condition.expdeliverytime}
	</if>
	<if test="condition.grossweight != null and condition.grossweight != ''" >
	    and grossweight =  #{condition.grossweight}
	</if>
	<if test="condition.lotatt01 != null and condition.lotatt01 != ''" >
	    and lotatt01 =  #{condition.lotatt01}
	</if>
	<if test="condition.lotatt02 != null and condition.lotatt02 != ''" >
	    and lotatt02 =  #{condition.lotatt02}
	</if>
	<if test="condition.lotatt03 != null and condition.lotatt03 != ''" >
	    and lotatt03 =  #{condition.lotatt03}
	</if>
	<if test="condition.lotatt04 != null and condition.lotatt04 != ''" >
	    and lotatt04 =  #{condition.lotatt04}
	</if>
	<if test="condition.lotatt05 != null and condition.lotatt05 != ''" >
	    and lotatt05 =  #{condition.lotatt05}
	</if>
	<if test="condition.lotatt06 != null and condition.lotatt06 != ''" >
	    and lotatt06 =  #{condition.lotatt06}
	</if>
	<if test="condition.notes != null and condition.notes != ''" >
	    and notes =  #{condition.notes}
	</if>
	<if test="condition.orderno != null and condition.orderno != ''" >
	    and orderno =  #{condition.orderno}
	</if>
	<if test="condition.ordertime != null and condition.ordertime != ''" >
	    and ordertime =  #{condition.ordertime}
	</if>
	<if test="condition.ordertype != null and condition.ordertype != ''" >
	    and ordertype =  #{condition.ordertype}
	</if>
	<if test="condition.packid != null and condition.packid != ''" >
	    and packid =  #{condition.packid}
	</if>
	<if test="condition.packuom1 != null and condition.packuom1 != ''" >
	    and packuom1 =  #{condition.packuom1}
	</if>
	<if test="condition.qtyordered != null and condition.qtyordered != ''" >
	    and qtyordered =  #{condition.qtyordered}
	</if>
	<if test="condition.qtyshipped != null and condition.qtyshipped != ''" >
	    and qtyshipped =  #{condition.qtyshipped}
	</if>
	<if test="condition.shipmenttime != null and condition.shipmenttime != '' and condition.shipmenttimetext != null and condition.shipmenttimetext != ''" >
	    and to_char(to_date(shipmenttime,'yyyy-mm-dd hh24:mi:ss'),'yyyy-mm-dd hh24:mi:ss') between #{condition.shipmenttime} and #{condition.shipmenttimetext}
	</if>
	<if test="condition.sku != null and condition.sku != '' and condition.skutext != null and condition.skutext != ''" >
	    and sku between #{condition.sku} and #{condition.skutext}
	</if>
	<if test="condition.skugroup != null and condition.skugroup != ''" >
	    and skugroup =  #{condition.skugroup}
	</if>
	<if test="condition.skuDescrC != null and condition.skuDescrC != ''" >
	    and sku_descr_c =  #{condition.skuDescrC}
	</if>
	<if test="condition.skuDescrE != null and condition.skuDescrE != ''" >
	    and sku_descr_e =  #{condition.skuDescrE}
	</if>
	<if test="condition.udf1 != null and condition.udf1 != ''" >
	    and udf1 =  #{condition.udf1}
	</if>
	<if test="condition.udf2 != null and condition.udf2 != ''" >
	    and udf2 =  #{condition.udf2}
	</if>
	<if test="condition.udf3 != null and condition.udf3 != ''" >
	    and udf3 =  #{condition.udf3}
	</if>
	<if test="condition.warehouseid != null and condition.warehouseid != ''" >
	    and warehouseid =  #{condition.warehouseid}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into Rpt_So_Daily(address,asnreference1inreport,asnreference2inreport,asnreference3inreport,carriername,commodity,consigneename,cubic,customerid,doclineno,expdeliverytime,grossweight,lotatt01,lotatt02,lotatt03,lotatt04,lotatt05,lotatt06,notes,orderno,ordertime,ordertype,packid,packuom1,qtyordered,qtyshipped,shipmenttime,shipmenttimetext,sku,skugroup,skutext,sku_descr_c,sku_descr_e,udf1,udf2,udf3,warehouseid)
 values(#{address},#{asnreference1inreport},#{asnreference2inreport},#{asnreference3inreport},#{carriername},#{commodity},#{consigneename},#{cubic},#{customerid},#{doclineno},#{expdeliverytime},#{grossweight},#{lotatt01},#{lotatt02},#{lotatt03},#{lotatt04},#{lotatt05},#{lotatt06},#{notes},#{orderno},#{ordertime},#{ordertype},#{packid},#{packuom1},#{qtyordered},#{qtyshipped},#{shipmenttime},#{shipmenttimetext},#{sku},#{skugroup},#{skutext},#{skuDescrC},#{skuDescrE},#{udf1},#{udf2},#{udf3},#{warehouseid})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update Rpt_So_Daily set asnreference1inreport=#{asnreference1inreport},asnreference2inreport=#{asnreference2inreport},asnreference3inreport=#{asnreference3inreport},carriername=#{carriername},commodity=#{commodity},consigneename=#{consigneename},cubic=#{cubic},customerid=#{customerid},doclineno=#{doclineno},expdeliverytime=#{expdeliverytime},grossweight=#{grossweight},lotatt01=#{lotatt01},lotatt02=#{lotatt02},lotatt03=#{lotatt03},lotatt04=#{lotatt04},lotatt05=#{lotatt05},lotatt06=#{lotatt06},notes=#{notes},orderno=#{orderno},ordertime=#{ordertime},ordertype=#{ordertype},packid=#{packid},packuom1=#{packuom1},qtyordered=#{qtyordered},qtyshipped=#{qtyshipped},shipmenttime=#{shipmenttime},shipmenttimetext=#{shipmenttimetext},sku=#{sku},skugroup=#{skugroup},skutext=#{skutext},sku_descr_c=#{skuDescrC},sku_descr_e=#{skuDescrE},udf1=#{udf1},udf2=#{udf2},udf3=#{udf3},warehouseid=#{warehouseid} where address=#{address}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update Rpt_So_Daily set 
	<trim  suffixOverrides="," >
	<if test="asnreference1inreport != null  ">
		asnreference1inreport=#{asnreference1inreport},
	</if>
	<if test="asnreference2inreport != null  ">
		asnreference2inreport=#{asnreference2inreport},
	</if>
	<if test="asnreference3inreport != null  ">
		asnreference3inreport=#{asnreference3inreport},
	</if>
	<if test="carriername != null  ">
		carriername=#{carriername},
	</if>
	<if test="commodity != null  ">
		commodity=#{commodity},
	</if>
	<if test="consigneename != null  ">
		consigneename=#{consigneename},
	</if>
	<if test="cubic != null  ">
		cubic=#{cubic},
	</if>
	<if test="customerid != null  ">
		customerid=#{customerid},
	</if>
	<if test="doclineno != null  ">
		doclineno=#{doclineno},
	</if>
	<if test="expdeliverytime != null  ">
		expdeliverytime=#{expdeliverytime},
	</if>
	<if test="grossweight != null  ">
		grossweight=#{grossweight},
	</if>
	<if test="lotatt01 != null  ">
		lotatt01=#{lotatt01},
	</if>
	<if test="lotatt02 != null  ">
		lotatt02=#{lotatt02},
	</if>
	<if test="lotatt03 != null  ">
		lotatt03=#{lotatt03},
	</if>
	<if test="lotatt04 != null  ">
		lotatt04=#{lotatt04},
	</if>
	<if test="lotatt05 != null  ">
		lotatt05=#{lotatt05},
	</if>
	<if test="lotatt06 != null  ">
		lotatt06=#{lotatt06},
	</if>
	<if test="notes != null  ">
		notes=#{notes},
	</if>
	<if test="orderno != null  ">
		orderno=#{orderno},
	</if>
	<if test="ordertime != null  ">
		ordertime=#{ordertime},
	</if>
	<if test="ordertype != null  ">
		ordertype=#{ordertype},
	</if>
	<if test="packid != null  ">
		packid=#{packid},
	</if>
	<if test="packuom1 != null  ">
		packuom1=#{packuom1},
	</if>
	<if test="qtyordered != null  ">
		qtyordered=#{qtyordered},
	</if>
	<if test="qtyshipped != null  ">
		qtyshipped=#{qtyshipped},
	</if>
	<if test="shipmenttime != null  ">
		shipmenttime=#{shipmenttime},
	</if>
	<if test="shipmenttimetext != null  ">
		shipmenttimetext=#{shipmenttimetext},
	</if>
	<if test="sku != null  ">
		sku=#{sku},
	</if>
	<if test="skugroup != null  ">
		skugroup=#{skugroup},
	</if>
	<if test="skutext != null  ">
		skutext=#{skutext},
	</if>
	<if test="skuDescrC != null  ">
		sku_descr_c=#{skuDescrC},
	</if>
	<if test="skuDescrE != null  ">
		sku_descr_e=#{skuDescrE},
	</if>
	<if test="udf1 != null  ">
		udf1=#{udf1},
	</if>
	<if test="udf2 != null  ">
		udf2=#{udf2},
	</if>
	<if test="udf3 != null  ">
		udf3=#{udf3},
	</if>
	<if test="warehouseid != null  ">
		warehouseid=#{warehouseid},
	</if>
	</trim> where address=#{address}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from Rpt_So_Daily where address = #{address}
</delete>
 
<!-- 根据id查询 出库日报表 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from Rpt_So_Daily where address = #{address}
</select>

<!-- 出库日报表 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from Rpt_So_Daily 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询出库日报表列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from Rpt_So_Daily 
	<include refid="Example_Where_Clause"/>
	<!-- 
	<if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if>
     -->
</select>

<!-- 查询出库日报分页列表 -->
<select id="queryByPageList" resultMap="BaseResultMap"  parameterType="Object">
	select * from (
	select a.*,rownum as row_num from (
	select 
	<include refid="Base_Column_List"/>
	from Rpt_So_Daily 
	<include refid="Example_Where_Clause"/>
	<!-- <if test="orderByClause != null and orderByClause != ''" >
       order by  ${orderByClause}
    </if> -->
    order by customerid,orderno
    ) a 
	) 
	where 1 = 1
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>
  	
</mapper>   
