<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.SearchBasCustomerMybatisDao">
    <!-- Result Map 委托客户-->
    <resultMap id="BaseResultMap" type="com.wms.entity.SearchBasCustomer">
        <result column="descr_c" property="enterpriseName"/>
        <result column="license_number" property="licenseNumber"/>
        <result column="residence" property="residence"/>
        <result column="juridical_person" property="juridicalPerson"/>
        <result column="head_name" property="headName"/>
        <result column="business_residence" property="businessResidence"/>
        <result column="warehouse_address" property="warehouseAddress"/>
        <result column="business_scope" property="businessScope"/>
        <result column="license_no" property="licenseNo"/>
        <result column="license_expiry_date" property="licenseExpiryDate"/>
        <result column="registrationAuthorityL" property="registrationAuthorityL"/>
        <result column="record_no" property="recordNo"/>
        <result column="registrationAuthorityR" property="registrationAuthorityR"/>
        <result column="client_start_date" property="clientStartDate"/>
        <result column="client_end_date" property="clientEndDate"/>
        <result column="client_term" property="clientTerm"/>
        <result column="is_chinese_label" property="isChineseLabel"/>
        <result column="client_content" property="clientContent"/>

        <result column="active_flag" property="activeFlag"/>
        <result column="product_code" property="productCode"/>


    </resultMap>
    <!-- Result Map 货主商品-->
    <resultMap id="BaseResultMap1" type="com.wms.entity.CustomerProduct">
        <result column="enterprise_name" property="enterpriseName"/>

        <result column="product_name" property="productName"/>
        <result column="specs_name" property="specsName"/>
        <result column="product_model" property="productModel"/>
        <result column="product_register_no" property="productRegisterNo"/>
        <result column="product_register_expiry_date" property="productRegisterExpiryDate"/>
        <result column="approve_date" property="approveDate"/>
        <result column="enterprise_id" property="enterpriseId"/> <!--生产企业-->
        <result column="enterprise_sc" property="enterpriseSc"/> <!--生产企业名称-->

        <result column="license_or_record_no" property="licenseOrRecordNo"/>
        <result column="unit" property="unit"/>
        <result column="storage_condition" property="storageCondition"/>
        <result column="active_flag" property="activeFlag"/>
        <result column="product_code" property="productCode"/>


    </resultMap>

    <!-- 查询条件 委托客户-->
    <sql id="Example_Where_Clause">
        <trim  suffixOverrides="," >
            <if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
                and b.descr_c like concat('%', #{condition.enterpriseName},'%')
            </if>
            <if test="condition.clientStartDate != null and condition.clientStartDate != ''" >
                and client_start_date &gt;=  #{condition.clientStartDate,jdbcType=VARCHAR}
            </if>
            <if test="condition.clientEndDate != null and condition.clientEndDate != ''" >
                and client_end_date &lt;=  #{condition.clientEndDate,jdbcType=VARCHAR}
            </if>
            <if test="condition.activeFlag != null and condition.activeFlag != ''" >
                and b.active_flag =  #{condition.activeFlag}
            </if>
        </trim>
    </sql>
    <!-- 查询条件 库存信息 -->
    <sql id="Example_Where_Clause1">
        <trim  suffixOverrides="," >
            <if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
                and b.descr_c like concat('%', #{condition.enterpriseName},'%')
            </if>
            <if test="condition.supplierName != null and condition.supplierName != ''" >
                and bve.descr_c like concat('%', #{condition.supplierName},'%')
            </if>
            <if test="condition.lotatt01Start != null and condition.lotatt01Start != ''" >
                and a.lotatt01 &gt;= #{condition.lotatt01Start}
            </if>
            <if test="condition.lotatt01End != null and condition.lotatt01End != ''" >
                and a.lotatt01 &lt;= #{condition.lotatt01End}
            </if>
            <if test="condition.lotatt02Start != null and condition.lotatt02Start != ''" >
                and a.lotatt02 &gt;= #{condition.lotatt02Start}
            </if>
            <if test="condition.lotatt02End != null and condition.lotatt02End != ''" >
                and a.lotatt02 &lt;= #{condition.lotatt02End}
            </if>
            <if test="condition.lotatt12 != null and condition.lotatt12 != ''" >
                and a.lotatt12 like concat('%', #{condition.lotatt12},'%')
            </if>
            <if test="condition.descrc != null and condition.descrc != ''" >
                and s.`descr_c` like concat('%', #{condition.descrc},'%')
            </if>
            <if test="condition.lotatt15 != null and condition.lotatt15 != ''" >
                and a.lotatt15 like concat('%', #{condition.lotatt15},'%')
            </if>
            <if test="condition.lotatt04 != null and condition.lotatt04 != ''" >
                and a.lotatt04 like concat('%', #{condition.lotatt04},'%')
            </if>
            <if test="condition.lotatt05 != null and condition.lotatt05 != ''" >
                and a.lotatt05 like concat('%', #{condition.lotatt05},'%')
            </if>
            <if test="condition.lotatt06 != null and condition.lotatt06 != ''" >
                and a.lotatt06 like concat('%', #{condition.lotatt06},'%')
            </if>
            <if test="condition.reservedfield09 != null and condition.reservedfield09 != ''" >
                AND s.reservedfield09=#{condition.reservedfield09}
            </if>
        </trim>
    </sql>
    <!-- 查询条件 入库信息 -->
    <sql id="Example_Where_Clause2">
        <trim  suffixOverrides="," >
            <if test="condition.lotatt14!= null and condition.lotatt14 != ''" >
                and e.lotatt14 like concat('%', #{condition.lotatt14},'%')
            </if>
            <if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
                and r.descr_c like concat('%', #{condition.enterpriseName},'%')
            </if>
            <if test="condition.lotatt03StartDate != null and condition.lotatt03StartDate != ''" >
                and e.lotatt03 &gt;=  #{condition.lotatt03StartDate,jdbcType=VARCHAR}
            </if>
            <if test="condition.lotatt03EndDate != null and condition.lotatt03EndDate != ''" >
                and e.lotatt03 &lt;=  #{condition.lotatt03EndDate,jdbcType=VARCHAR}
            </if>
            <if test="condition.lotatt12 != null and condition.lotatt12 != ''" >
                and e.lotatt12 like concat('%', #{condition.lotatt12},'%')
            </if>
            <if test="condition.descrc != null and condition.descrc != ''" >
                and s.`descr_c` like concat('%', #{condition.descrc},'%')
            </if>
            <if test="condition.lotatt15 != null and condition.lotatt15 != ''" >
                and e.lotatt15 like concat('%', #{condition.lotatt15},'%')
            </if>
            <if test="condition.lotatt06 != null and condition.lotatt06 != ''" >
                and e.lotatt06 like concat('%', #{condition.lotatt06},'%')
            </if>
            <if test="condition.lotatt04 != null and condition.lotatt04 != ''" >
                and e.lotatt04 like concat('%', #{condition.lotatt04},'%')
            </if>
            <if test="condition.lotatt05 != null and condition.lotatt05 != ''" >
                and e.lotatt05 like concat('%', #{condition.lotatt05},'%')
            </if>
            <if test="condition.activeFlag != null and condition.activeFlag != ''" >
                and r.active_flag =#{condition.activeFlag}
            </if>
            <if test="condition.reservedfield09 != null and condition.reservedfield09 != ''" >
                AND s.reservedfield09=#{condition.reservedfield09}
            </if>
            <if test="condition.sku!= null and condition.sku != ''" >
                and dd.sku like concat('%', #{condition.sku},'%')
            </if>
            <if test="condition.locationid!= null and condition.locationid != ''" >
                and dd.userdefine1 like concat('%', #{condition.locationid},'%')
            </if>
            <if test="condition.lotatt10!= null and condition.lotatt10 != ''" >
                and e.`lotatt10` = #{condition.lotatt10}
            </if>
        </trim>
    </sql>
    <!-- 查询条件 出库信息 -->
    <sql id="Example_Where_Clause3">
        <trim  suffixOverrides="," >
            <if test="condition.orderno != null and condition.orderno != ''" >
                and a.orderno like concat('%', #{condition.orderno},'%')
            </if>
            <if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
                and r.descr_c like concat('%', #{condition.enterpriseName},'%')
            </if>
            <if test="condition.outStartDate != null and condition.outStartDate != ''" >
                and DATE_FORMAT(aa.edittime,'%Y-%m-%d') &gt;=  #{condition.outStartDate,jdbcType=VARCHAR}
            </if>
            <if test="condition.outEndDate != null and condition.outEndDate != ''" >
                and DATE_FORMAT(aa.edittime,'%Y-%m-%d') &lt;=  #{condition.outEndDate,jdbcType=VARCHAR}
            </if>
            <if test="condition.lotatt12 != null and condition.lotatt12 != ''" >
                and c.lotatt12 like concat('%', #{condition.lotatt12},'%')
            </if>
            <if test="condition.descrc != null and condition.descrc != ''" >
                and s.`descr_c` like concat('%', #{condition.descrc},'%')
            </if>
            <if test="condition.lotatt06 != null and condition.lotatt06 != ''" >
                and c.lotatt06 like concat('%', #{condition.lotatt06},'%')
            </if>
            <if test="condition.lotatt04 != null and condition.lotatt04 != ''" >
                and c.lotatt04 like concat('%', #{condition.lotatt04},'%')
            </if>
            <if test="condition.lotatt05 != null and condition.lotatt05 != ''" >
                and c.lotatt05 like concat('%', #{condition.lotatt05},'%')
            </if>
            <if test="condition.consigneeID != null and condition.consigneeID != ''" >
                and aa.consigneeID like concat('%', #{condition.consigneeID},'%')
            </if>
            <if test="condition.activeFlag != null and condition.activeFlag != ''" >
                and r.active_flag =#{condition.activeFlag}
            </if>
            <if test="condition.reservedfield09 != null and condition.reservedfield09 != ''" >
                AND s.reservedfield09=#{condition.reservedfield09}
            </if>
            <if test="condition.sku!= null and condition.sku != ''" >
                and a.sku like concat('%', #{condition.sku},'%')
            </if>
            <if test="condition.locationid!= null and condition.locationid != ''" >
                and b.location like concat('%', #{condition.locationid},'%')
            </if>
            <if test="condition.lotatt10!= null and condition.lotatt10 != ''" >
                and c.`lotatt10` = #{condition.lotatt10}
            </if>
        </trim>
    </sql>
    <!-- 查询条件 货主商品 -->
    <sql id="Example_Where_Clause4">
        <trim  suffixOverrides="," >
            <if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
                and t2.enterprise_name like concat('%', #{condition.enterpriseName},'%')
            </if>
            <if test="condition.productName != null and condition.productName != ''" >
                and t3.product_name like concat('%', #{condition.productName},'%')
            </if>
            <if test="condition.specsName != null and condition.specsName != ''" >
                and t3.specs_name like concat('%', #{condition.specsName},'%')
            </if>
            <if test="condition.productRegisterNo != null and condition.productRegisterNo != ''" >
                and t4.product_register_no like concat('%', #{condition.productRegisterNo},'%')
            </if>
            <if test="condition.enterpriseSc != null and condition.enterpriseSc != ''" >
                and t5.enterprise_name like concat('%', #{condition.enterpriseSc},'%')
            </if>
            <if test="condition.activeFlag != null and condition.activeFlag != ''" >
                and t7.active_flag =#{condition.activeFlag}
            </if>
            <if test="condition.reservedfield09 != null and condition.reservedfield09 != ''" >
                AND t1.reservedfield09=#{condition.reservedfield09}
            </if>
            <if test="condition.productCode != null and condition.productCode != ''" >
                AND t3.product_code    like   concat('%', #{condition.productCode},'%')
            </if>
        </trim>
    </sql>


<!-- *******************************委托客户********************************** -->
<!-- 查询委托客户列表 -->
    <select id="querySearchCustomer"  resultMap="BaseResultMap" parameterType="Object">
        SELECT  b.descr_c,c.license_number,
        IFNULL(IFNULL(IFNULL(c.residence,pr.residence),IFNULL(op.residence,r.residence)),e.residence) AS residence,
        IFNULL(IFNULL(c.juridical_person,pr.juridical_person),IFNULL(op.juridical_person,e.juridical_person)) AS juridical_person,
        IFNULL(IFNULL(pr.head_name,op.head_name),IFNULL(e.head_name,r.head_name)) AS head_name,
        IFNULL(IFNULL(pr.business_residence,op.business_residence),e.operate_place) AS business_residence,
        IFNULL(IFNULL(pr.warehouse_address,op.warehouse_address),e.warehouse_address) AS warehouse_address,
        CONCAT(IFNULL(pr.business_scope,''),IFNULL(op.business_scope,''),IFNULL(e.business_scope,''),IFNULL(r.bussiness_scope,'')) AS business_scope,
        CONCAT(IFNULL(pr.license_no,''),'/',IFNULL(op.license_no,'')) AS license_no,
        CONCAT(IFNULL(DATE_FORMAT(pr.license_expiry_date,'%Y-%m-%d'),''),'/',IFNULL(DATE_FORMAT(op.license_expiry_date,'%Y-%m-%d'),'')) AS license_expiry_date,
        CONCAT(IFNULL(pr.registration_authority,''),'/',IFNULL(op.registration_authority,'')) AS registrationAuthorityL,
        CONCAT(IFNULL(r.record_no,''),'/',IFNULL(e.record_no,'')) AS record_no,
        CONCAT(IFNULL(r.registration_authority,''),'/',IFNULL(e.registration_authority,'')) AS registrationAuthorityR,
        b.client_start_date,b.client_end_date,b.client_term,b.is_chinese_label,b.client_content,b.active_flag
        FROM  `bas_customer` b
        LEFT JOIN   (SELECT * FROM `gsp_business_license` WHERE  is_use='1')  c ON  c.enterprise_id=b.enterprise_id
        LEFT JOIN   (SELECT * FROM `gsp_operate_license`  WHERE  is_use='1' AND `operate_type`='PROD')  pr ON  pr.enterprise_id=b.enterprise_id
        LEFT JOIN   (SELECT * FROM `gsp_operate_license`  WHERE  is_use='1' AND `operate_type`='OPERATE')  op   ON  op.enterprise_id=b.enterprise_id
        LEFT JOIN   (SELECT * FROM `gsp_second_record`   WHERE  is_use='1') e   ON  e.enterprise_id=b.enterprise_id
        LEFT JOIN   (SELECT * FROM `gsp_first_record`  WHERE  is_use='1') r   ON  r.enterprise_id=b.enterprise_id
        WHERE b.customer_type='OW'
          <include refid="Example_Where_Clause"/>

        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>
</select>
<!-- 委托客户 列表总数-->
    <select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
        SELECT  count(1)
        FROM  `bas_customer` b
        LEFT JOIN   (SELECT * FROM `gsp_business_license` WHERE  is_use='1')  c ON  c.enterprise_id=b.enterprise_id
        LEFT JOIN   (SELECT * FROM `gsp_operate_license`  WHERE  is_use='1' AND `operate_type`='PROD')  pr ON  pr.enterprise_id=b.enterprise_id
        LEFT JOIN   (SELECT * FROM `gsp_operate_license`  WHERE  is_use='1' AND `operate_type`='OPERATE')  op   ON  op.enterprise_id=b.enterprise_id
        LEFT JOIN   (SELECT * FROM `gsp_second_record`   WHERE  is_use='1') e   ON  e.enterprise_id=b.enterprise_id
        LEFT JOIN   (SELECT * FROM `gsp_first_record`  WHERE  is_use='1') r   ON  r.enterprise_id=b.enterprise_id
        WHERE b.customer_type='OW'
        <include refid="Example_Where_Clause"/>
    </select>


<!-- *******************************库存信息********************************** -->
<!-- 查询库存信息列表 -->
    <select id="querySearchInvLocation"  resultType="com.wms.entity.SearchInvLocation" parameterType="Object">
        SELECT
        i.locationid,i.`qty`,
        p.`qty1`,
        b.descr_c enterpriseName,
        CONCAT(IFNULL(a.`lotatt04`,''),'/',IFNULL(a.`lotatt05`,'')) AS lotatt04,
        CONCAT(IFNULL(DATE_FORMAT(a.`lotatt01`,'%Y-%m-%d'),''),'/',IFNULL(DATE_FORMAT(a.`lotatt02`,'%Y-%m-%d'),'')) lotatt01Andlotatt02,
        a.`lotatt03`,a.`lotatt06`,a.`lotatt10`,a.`lotatt11`,a.`lotatt12`,a.`lotatt15`,
        s.`descr_c` descrc,s.defaultreceivinguom,
        bb.codename_c uom
        FROM `inv_lot_loc_id` i
        LEFT JOIN `inv_lot_att` a ON a.lotnum=i.`lotnum`
        LEFT JOIN `bas_sku` s   ON s.`sku`=i.`sku` AND s.`customerid`=i.`customerid`
        LEFT JOIN `bas_package` p ON s.`packid`=p.`packid`
        LEFT JOIN `bas_customer` b ON s.`customerid`=b.`customerid`
        LEFT JOIN(select * from `bas_codes` where codeid='uom')  bb ON s.defaultreceivinguom=bb.code
        WHERE 1=1
        <include refid="Example_Where_Clause1"/>
        ORDER BY a.`lotatt03` DESC
        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>
    </select>
<!-- 查询库存信息列表 统计 -->
    <select id="querySearchInvLocationSum"  resultType="com.wms.entity.SearchInvLocation" parameterType="Object">
        SELECT
        i.locationid,i.`qty`,
        p.`qty1`,
        b.descr_c enterpriseName,
        a.`lotatt04`,a.`lotatt05`,
        DATE_FORMAT(a.`lotatt01`,'%Y-%m-%d') lotatt01,DATE_FORMAT(a.`lotatt02`,'%Y-%m-%d') lotatt02,
        a.`lotatt03`,a.`lotatt06`,a.`lotatt10`,a.`lotatt11`,a.`lotatt12`,a.`lotatt15`,
        s.`descr_c` descrc,s.defaultreceivinguom,
        bb.codename_c uom,bve.descr_c  supplierName
        FROM `inv_lot_loc_id` i
        LEFT JOIN `inv_lot_att` a ON a.lotnum=i.`lotnum`
        LEFT JOIN `bas_sku` s   ON s.`sku`=i.`sku` AND s.`customerid`=i.`customerid`
        LEFT JOIN `bas_package` p ON s.`packid`=p.`packid`
        LEFT JOIN `bas_customer` b ON s.`customerid`=b.`customerid`
        LEFT JOIN(select * from `bas_codes` where codeid='uom')  bb ON s.defaultreceivinguom=bb.code
        LEFT JOIN (SELECT * FROM bas_customer WHERE customer_type='ve'  AND ACTIVE_FLAG='1') bve ON bve.customerid=s.`sku_group6`
        WHERE 1=1
        <include refid="Example_Where_Clause1"/>
        ORDER BY a.`lotatt03` DESC
        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>
    </select>
<!-- 库存信息 列表总数-->
    <select id="querySearchInvLocationCount" resultType="java.lang.Integer" parameterType="Object">
        SELECT
        count(1)
        FROM `inv_lot_loc_id` i
        LEFT JOIN `inv_lot_att` a ON a.lotnum=i.`lotnum`
        LEFT JOIN `bas_sku` s   ON s.`sku`=i.`sku` AND s.`customerid`=i.`customerid`
        LEFT JOIN `bas_package` p ON s.`packid`=p.`packid`
        LEFT JOIN `bas_customer` b ON s.`customerid`=b.`customerid`
        LEFT JOIN(select * from `bas_codes` where codeid='uom')  bb ON s.defaultreceivinguom=bb.code
        LEFT JOIN (SELECT * FROM bas_customer WHERE customer_type='ve'  AND ACTIVE_FLAG='1') bve ON bve.customerid=s.`sku_group6`
        WHERE 1=1
        <include refid="Example_Where_Clause1"/>
    </select>



<!-- *******************************入库信息********************************** -->
<!-- 查询入库信息列表 -->
    <select id="querySearchEnterInvLocation"  resultType="com.wms.entity.SearchEnterInvLocation" parameterType="Object">
       select aaa.*,ccc.codename_c type from (
        SELECT
        e.`lotatt14`,r.descr_c enterpriseName,r.active_flag activeFlag,
        dd.qcqty_expected qty,dd.userdefine1 locationid,
        p.`qty1`,
        CONCAT(IFNULL(e.`lotatt04`,''),'/',IFNULL(e.`lotatt05`,'')) AS lotatt04,
        CONCAT(IFNULL(DATE_FORMAT(e.`lotatt01`,'%Y-%m-%d'),''),'/',IFNULL(DATE_FORMAT(e.`lotatt02`,'%Y-%m-%d'),'')) lotatt01Andlotatt02,
        DATE_FORMAT(e.`lotatt03`,'%Y-%m-%d') lotatt03,e.`lotatt06`,e.`lotatt10`,e.`lotatt11`,e.`lotatt12`,e.`lotatt15`,
        s.`descr_c` descrc,
        bb.codename_c uom
        from
        (select cc.`PANO`,cc.`USERDEFINE3` ,cc.`USERDEFINE4`
        from `doc_asn_details` a
        left join `doc_asn_header`  b on a.`asnno` =b.`ASNNO`
        left join `doc_pa_details` cc on b.`ASNNO` =cc.`ASNNO` and a.`ASNLINENO` =cc.`ASNLINENO`
        WHERE  b.asnstatus='99'
        GROUP BY cc.`PANO`,cc.`USERDEFINE3` ,cc.`USERDEFINE4`) aaa
        left join `doc_qc_header` d on d.pano=aaa.`PANO`
        left join `doc_qc_details` dd on dd.`qcno` =d.`qcno`  and dd.`userdefine3` =aaa.`USERDEFINE3` and dd.`userdefine4` =aaa.`userdefine4`
        LEFT JOIN `inv_lot_att` e ON e.`lotnum`=dd.`lotnum`
        LEFT JOIN `bas_sku` s   ON s.`sku`=e.`sku` AND s.`customerid`=e.`customerid`
        LEFT JOIN `bas_package` p ON s.`packid`=p.`packid`
        LEFT JOIN `bas_customer` r ON s.`customerid`=r.`customerid`
        LEFT JOIN(SELECT * FROM `bas_codes` WHERE codeid='uom')  bb ON s.defaultreceivinguom=bb.code
        where 1=1
        <include refid="Example_Where_Clause2"/>
        ORDER BY e.`lotatt03` DESC,e.lotatt14
        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>)  aaa
        LEFT JOIN doc_asn_header bbb ON  bbb.`asnno`=aaa.lotatt14
        LEFT JOIN(SELECT * FROM  bas_codes   WHERE codeid='ASN_TYP') ccc ON ccc.code=bbb.`asntype`
    </select>
<!-- 查询入库信息列表 -统计 -->
    <select id="querySearchEnterInvLocationSum"  resultType="com.wms.entity.SearchEnterInvLocation" parameterType="Object">
        select aaa.*,ccc.codename_c type from (
        SELECT
        e.`lotatt14`,r.descr_c enterpriseName,r.active_flag activeFlag,
        dd.qcqty_expected qty,dd.userdefine1 locationid,dd.sku,
        p.`qty1`,
        e.`lotatt04`,e.`lotatt05`,
        DATE_FORMAT(e.`lotatt01`,'%Y-%m-%d') lotatt01,DATE_FORMAT(e.`lotatt02`,'%Y-%m-%d') lotatt02,
        DATE_FORMAT(e.`lotatt03`,'%Y-%m-%d') lotatt03,e.`lotatt06`,e.`lotatt10`,e.`lotatt11`,e.`lotatt12`,e.`lotatt15`,
        s.`descr_c` descrc,s.reservedfield06,
        bb.codename_c uom
        from
        (select cc.`PANO`,cc.`USERDEFINE3` ,cc.`USERDEFINE4`
        from `doc_asn_details` a
        left join `doc_asn_header`  b on a.`asnno` =b.`ASNNO`
        left join `doc_pa_details` cc on b.`ASNNO` =cc.`ASNNO` and a.`ASNLINENO` =cc.`ASNLINENO`
        WHERE  b.asnstatus='99'
        GROUP BY cc.`PANO`,cc.`USERDEFINE3` ,cc.`USERDEFINE4`) aaa
        left join `doc_qc_header` d on d.pano=aaa.`PANO`
        left join `doc_qc_details` dd on dd.`qcno` =d.`qcno`  and dd.`userdefine3` =aaa.`USERDEFINE3` and dd.`userdefine4` =aaa.`userdefine4`
        LEFT JOIN `inv_lot_att` e ON e.`lotnum`=dd.`lotnum`
        LEFT JOIN `bas_sku` s   ON s.`sku`=e.`sku` AND s.`customerid`=e.`customerid`
        LEFT JOIN `bas_package` p ON s.`packid`=p.`packid`
        LEFT JOIN `bas_customer` r ON s.`customerid`=r.`customerid`
        LEFT JOIN(SELECT * FROM `bas_codes` WHERE codeid='uom')  bb ON s.defaultreceivinguom=bb.code
        where 1=1
        <include refid="Example_Where_Clause2"/>
        ORDER BY e.`lotatt03` DESC,e.lotatt14
        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>)  aaa
        LEFT JOIN doc_asn_header bbb ON  bbb.`asnno`=aaa.lotatt14
        LEFT JOIN(SELECT * FROM  bas_codes   WHERE codeid='ASN_TYP') ccc ON ccc.code=bbb.`asntype`
    </select>
<!-- 入库信息 列表总数-->
    <select id="querySearchEnterInvLocationCount" resultType="java.lang.Integer" parameterType="Object">

        SELECT
        count(1)
        from
        (select cc.`PANO`,cc.`USERDEFINE3` ,cc.`USERDEFINE4`
        from `doc_asn_details` a
        left join `doc_asn_header`  b on a.`asnno` =b.`ASNNO`
        left join `doc_pa_details` cc on b.`ASNNO` =cc.`ASNNO` and a.`ASNLINENO` =cc.`ASNLINENO`
        WHERE  b.asnstatus='99'
        GROUP BY cc.`PANO`,cc.`USERDEFINE3` ,cc.`USERDEFINE4`) aaa
        left join `doc_qc_header` d on d.pano=aaa.`PANO`
        left join `doc_qc_details` dd on dd.`qcno` =d.`qcno`  and dd.`userdefine3` =aaa.`USERDEFINE3` and dd.`userdefine4` =aaa.`userdefine4`
        LEFT JOIN `inv_lot_att` e ON e.`lotnum`=dd.`lotnum`
        LEFT JOIN `bas_sku` s   ON s.`sku`=e.`sku` AND s.`customerid`=e.`customerid`
        LEFT JOIN `bas_package` p ON s.`packid`=p.`packid`
        LEFT JOIN `bas_customer` r ON s.`customerid`=r.`customerid`
        LEFT JOIN(SELECT * FROM `bas_codes` WHERE codeid='uom')  bb ON s.defaultreceivinguom=bb.code
        where 1=1
        <include refid="Example_Where_Clause2"/>

    </select>




<!-- *******************************出库信息********************************** -->
<!-- 查询出库信息列表 -->
    <select id="querySearchOutInvLocation"  resultType="com.wms.entity.SearchOutInvLocation" parameterType="Object">
        SELECT
        r.descr_c enterpriseName,r.active_flag activeFlag,
        b.qty, p.`qty1`,
        CONCAT(IFNULL(c.`lotatt04`,''),'/',IFNULL(c.`lotatt05`,'')) AS lotatt04,
        CONCAT(IFNULL(DATE_FORMAT(c.`lotatt01`,'%Y-%m-%d'),''),'/',IFNULL(DATE_FORMAT(c.`lotatt02`,'%Y-%m-%d'),'')) lotatt01Andlotatt02,
        c.`lotatt06`,c.`lotatt10`,c.`lotatt11`,c.`lotatt12`,c.`lotatt15`,
        s.`descr_c` descrc,
        bb.codename_c uom,`bb1`.codename_c type,aa.notes,DATE_FORMAT(aa.edittime,'%Y-%m-%d') lotatt03,
        aa.consigneeid consigneeID,aa.`c_address1` caddress1,aa.C_Contact contact,aa.`c_tel1` ctel1
        FROM  `doc_order_details` a
        LEFT JOIN `doc_order_header` aa ON aa.orderno=a.`orderno`
        LEFT JOIN `act_allocation_details`   b ON b.`orderno`=a.`orderno` AND b.`orderlineno`=a.`orderlineno`
        LEFT JOIN `inv_lot_att` c ON c.`lotnum`=b.`lotnum`
        LEFT JOIN `bas_sku` s   ON s.`sku`=b.`sku` AND s.`customerid`=b.`customerid`
        LEFT JOIN `bas_package` p ON s.`packid`=p.`packid`
        LEFT JOIN `bas_customer` r ON s.`customerid`=r.`customerid`
        LEFT JOIN(select * from `bas_codes` where codeid='uom')  bb ON s.defaultreceivinguom=bb.code
        LEFT JOIN(SELECT * FROM  bas_codes   WHERE codeid='SO_TYP') bb1 ON  bb1.code=aa.ordertype
        WHERE aa.sostatus='99'
        <include refid="Example_Where_Clause3"/>
        ORDER BY aa.edittime DESC
        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>
    </select>
<!-- 查询出库信息列表-统计 -->
    <select id="querySearchOutInvLocationSum"  resultType="com.wms.entity.SearchOutInvLocation" parameterType="Object">
        SELECT
        r.descr_c enterpriseName,r.active_flag activeFlag,a.sku,a.orderno,s.reservedfield06,
        b.qty,b.location locationid,p.`qty1`,
        c.`lotatt04`,c.`lotatt05`,
        DATE_FORMAT(c.`lotatt01`,'%Y-%m-%d') lotatt01,DATE_FORMAT(c.`lotatt02`,'%Y-%m-%d') lotatt02,
        c.`lotatt06`,c.`lotatt10`,c.`lotatt11`,c.`lotatt12`,c.`lotatt15`,
        s.`descr_c` descrc,
        bb.codename_c uom,`bb1`.codename_c type,aa.notes,DATE_FORMAT(aa.edittime,'%Y-%m-%d') lotatt03,
        aa.consigneeid consigneeID,aa.`c_address1` caddress1,aa.C_Contact contact,aa.`c_tel1` ctel1
        FROM  `doc_order_details` a
        LEFT JOIN `doc_order_header` aa ON aa.orderno=a.`orderno`
        LEFT JOIN `act_allocation_details`   b ON b.`orderno`=a.`orderno` AND b.`orderlineno`=a.`orderlineno`
        LEFT JOIN `inv_lot_att` c ON c.`lotnum`=b.`lotnum`
        LEFT JOIN `bas_sku` s   ON s.`sku`=b.`sku` AND s.`customerid`=b.`customerid`
        LEFT JOIN `bas_package` p ON s.`packid`=p.`packid`
        LEFT JOIN `bas_customer` r ON s.`customerid`=r.`customerid`
        LEFT JOIN(select * from `bas_codes` where codeid='uom')  bb ON s.defaultreceivinguom=bb.code
        LEFT JOIN(SELECT * FROM  bas_codes   WHERE codeid='SO_TYP') bb1 ON  bb1.code=aa.ordertype
        WHERE aa.sostatus='99'
        <include refid="Example_Where_Clause3"/>
        ORDER BY aa.edittime DESC
        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>
    </select>
<!-- 出库信息 列表总数-->
    <select id="querySearchOutInvLocationCount" resultType="java.lang.Integer" parameterType="Object">
        SELECT
        count(1)
        FROM  `doc_order_details` a
        LEFT JOIN `doc_order_header` aa ON aa.orderno=a.`orderno`
        LEFT JOIN `act_allocation_details`   b ON b.`orderno`=a.`orderno` AND b.`orderlineno`=a.`orderlineno`
        LEFT JOIN `inv_lot_att` c ON c.`lotnum`=b.`lotnum`
        LEFT JOIN `bas_sku` s   ON s.`sku`=b.`sku` AND s.`customerid`=b.`customerid`
        LEFT JOIN `bas_package` p ON s.`packid`=p.`packid`
        LEFT JOIN `bas_customer` r ON s.`customerid`=r.`customerid`
        LEFT JOIN(select * from `bas_codes` where codeid='uom')  bb ON s.defaultreceivinguom=bb.code
        LEFT JOIN(SELECT * FROM  bas_codes   WHERE codeid='SO_TYP') bb1 ON  bb1.code=aa.ordertype
        WHERE aa.sostatus='99'
        <include refid="Example_Where_Clause3"/>
    </select>



<!-- *******************************货主商品********************************** -->

<!-- 查询客户档案列表 -->
    <select id="queryCustomerProduct"  resultMap="BaseResultMap1" parameterType="Object">
        select DISTINCT t2.enterprise_name,t3.product_code,t3.product_name,t3.specs_name,t3.product_model,t4.product_register_no,t4.product_register_expiry_date,
        t4.approve_date,t5.enterprise_name enterprise_sc,t3.LicenseOrRecordNo license_or_record_no,t6.codename_c unit,t3.storage_condition,t7.active_flag
        from bas_sku t1
        LEFT JOIN (select * from gsp_enterprise_info where is_use = 1) t2 on t1.customerid = t2.enterprise_no
        LEFT JOIN (select * from gsp_product_register_specs where is_use = 1) t3 on t1.sku = t3.product_code
        LEFT JOIN gsp_product_register t4 on t3.product_register_id = t4.product_register_id
        LEFT JOIN gsp_enterprise_info t5 on t4.enterprise_id = t5.enterprise_id
        LEFT JOIN (select * from bas_codes where codeid ='UOM' ) t6 on t6.code = t1.defaultreceivinguom
        LEFT JOIN bas_customer t7 on t7.customerid=t1.customerid
        WHERE 1=1
        <include refid="Example_Where_Clause4"/>

        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>
    </select>
<!-- 客户档案 列表总数-->
    <select id="queryCustomerProductByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1)
        from (select DISTINCT t2.enterprise_name,t3.product_name,t3.specs_name,t3.product_model,t4.product_register_no,t4.product_register_expiry_date,
        t4.approve_date,t5.enterprise_name enterprise_sc,t3.LicenseOrRecordNo license_or_record_no,t6.codename_c unit,t3.storage_condition,t1.active_flag
        from bas_sku t1
        LEFT JOIN (select * from gsp_enterprise_info where is_use = 1) t2 on t1.customerid = t2.enterprise_no
        LEFT JOIN (select * from gsp_product_register_specs where is_use = 1) t3 on t1.sku = t3.product_code
        LEFT JOIN gsp_product_register t4 on t3.product_register_id = t4.product_register_id
        LEFT JOIN gsp_enterprise_info t5 on t4.enterprise_id = t5.enterprise_id
        LEFT JOIN (select * from bas_codes where codeid ='UOM' ) t6 on t6.code = t1.defaultreceivinguom
        LEFT JOIN bas_customer t7 on t7.customerid=t1.customerid
        WHERE 1=1
        <include refid="Example_Where_Clause4"/>) z
    </select>








<!--++++++++++++++++++++++++++++++++++++++++++药监核查-历史数据++++++++++++++++++++++++++++++++++++++++++-->
<!--++++++++++++++++++++++++++++++++++++++++++药监核查-历史数据++++++++++++++++++++++++++++++++++++++++++-->

    <!-- 查询条件 历史委托客户-->
    <sql id="Example_Where_Clause_History1">
            where 1=1
        <trim  suffixOverrides="," >
            <if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
                and  enterpriseName like concat('%', #{condition.enterpriseName},'%')
            </if>
            <if test="condition.clientStartDate != null and condition.clientStartDate != ''" >
                and clientStartDate &gt;=  #{condition.clientStartDate,jdbcType=VARCHAR}
            </if>
            <if test="condition.clientEndDate != null and condition.clientEndDate != ''" >
                and clientEndDate &lt;=  #{condition.clientEndDate,jdbcType=VARCHAR}
            </if>
            <if test="condition.activeFlag != null and condition.activeFlag != ''" >
                and activeFlag =  #{condition.activeFlag}
            </if>
        </trim>
    </sql>
    <!-- 查询条件 历史货主商品 -->
    <sql id="Example_Where_Clause_History2">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
                and enterpriseName like concat('%', #{condition.enterpriseName},'%')
            </if>
            <if test="condition.productName != null and condition.productName != ''" >
                and productName like concat('%', #{condition.productName},'%')
            </if>
            <if test="condition.specsName != null and condition.specsName != ''" >
                and specsName like concat('%', #{condition.specsName},'%')
            </if>
            <if test="condition.productRegisterNo != null and condition.productRegisterNo != ''" >
                and productRegisterNo like concat('%', #{condition.productRegisterNo},'%')
            </if>
            <if test="condition.enterpriseSc != null and condition.enterpriseSc != ''" >
                and enterpriseSc like concat('%', #{condition.enterpriseSc},'%')
            </if>
            <if test="condition.activeFlag != null and condition.activeFlag != ''" >
                and activeFlag =#{condition.activeFlag}
            </if>
        </trim>
    </sql>
    <!-- 查询条件 历史入库信息 -->
    <sql id="Example_Where_Clause_History3">
       where 1=1
        <trim  suffixOverrides="," >
            <if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
                and enterpriseName like concat('%', #{condition.enterpriseName},'%')
            </if>
            <if test="condition.lotatt03StartDate != null and condition.lotatt03StartDate != ''" >
                and lotatt03 &gt;=  #{condition.lotatt03StartDate,jdbcType=VARCHAR}
            </if>
            <if test="condition.lotatt03EndDate != null and condition.lotatt03EndDate != ''" >
                and lotatt03 &lt;=  #{condition.lotatt03EndDate,jdbcType=VARCHAR}
            </if>
            <if test="condition.lotatt12 != null and condition.lotatt12 != ''" >
                and lotatt12 like concat('%', #{condition.lotatt12},'%')
            </if>
            <if test="condition.descrc != null and condition.descrc != ''" >
                and `descrc` like concat('%', #{condition.descrc},'%')
            </if>
            <if test="condition.lotatt15 != null and condition.lotatt15 != ''" >
                and lotatt15 like concat('%', #{condition.lotatt15},'%')
            </if>
            <if test="condition.lotatt06 != null and condition.lotatt06 != ''" >
                and lotatt06 like concat('%', #{condition.lotatt06},'%')
            </if>
            <if test="condition.lotatt04 != null and condition.lotatt04 != ''" >
                and lotatt04 like concat('%', #{condition.lotatt04},'%')
            </if>
            <if test="condition.lotatt05 != null and condition.lotatt05 != ''" >
                and lotatt05 like concat('%', #{condition.lotatt05},'%')
            </if>
            <if test="condition.activeFlag != null and condition.activeFlag != ''" >
                and activeflag =#{condition.activeFlag}
                <if test="condition.activeFlag != 2" >
                    order by  lotatt03 desc

                </if>
            </if>
        </trim>
    </sql>
    <!-- 查询条件 历史出库信息 -->
    <sql id="Example_Where_Clause_History4">
         where 1=1
        <trim  suffixOverrides="," >
            <if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
                and enterpriseName like concat('%', #{condition.enterpriseName},'%')
            </if>
            <if test="condition.outStartDate != null and condition.outStartDate != ''" >
                and lotatt03 &gt;=  #{condition.outStartDate,jdbcType=VARCHAR}
            </if>
            <if test="condition.outEndDate != null and condition.outEndDate != ''" >
                and lotatt03 &lt;=  #{condition.outEndDate,jdbcType=VARCHAR}
            </if>
            <if test="condition.lotatt12 != null and condition.lotatt12 != ''" >
                and lotatt12 like concat('%', #{condition.lotatt12},'%')
            </if>
            <if test="condition.descrc != null and condition.descrc != ''" >
                and `descrc` like concat('%', #{condition.descrc},'%')
            </if>
            <if test="condition.lotatt06 != null and condition.lotatt06 != ''" >
                and lotatt06 like concat('%', #{condition.lotatt06},'%')
            </if>
            <if test="condition.lotatt04 != null and condition.lotatt04 != ''" >
                and lotatt04 like concat('%', #{condition.lotatt04},'%')
            </if>
            <if test="condition.lotatt05 != null and condition.lotatt05 != ''" >
                and lotatt05 like concat('%', #{condition.lotatt05},'%')
            </if>
            <if test="condition.consigneeID != null and condition.consigneeID != ''" >
                and consigneeID like concat('%', #{condition.consigneeID},'%')
            </if>
            <if test="condition.activeFlag != null and condition.activeFlag != ''" >
                and activeflag =#{condition.activeFlag}
                <if test="condition.activeFlag != 2" >
                    order by  lotatt03 desc
                </if>
            </if>
        </trim>
    </sql>


    <!-- *******************************历史委托客户********************************** -->
    <!-- 查询委托客户列表 -->
    <select id="querySearchBasCustomerHistory"  resultType="com.wms.entity.SearchBasCustomer" parameterType="Object">
        SELECT *
        FROM
        history_bas_customer
        <include refid="Example_Where_Clause_History1"/>

        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>
    </select>
    <!-- 委托客户 列表总数-->
    <select id="querySearchBasCustomerHistoryCount" resultType="java.lang.Integer" parameterType="Object">
        SELECT  count(1)
        FROM
        history_bas_customer
        <include refid="Example_Where_Clause_History1"/>
    </select>


    <!-- *******************************历史货主商品********************************** -->

    <!-- 查询客户档案列表 -->
    <select id="queryCustomerHistoryProduct"  resultType="com.wms.entity.CustomerProduct" parameterType="Object">
        select * from
        history_customer_product
        <include refid="Example_Where_Clause_History2"/>

        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>
    </select>
    <!-- 客户档案 列表总数-->
    <select id="queryCustomerProductHistoryByCount" resultType="java.lang.Integer" parameterType="Object">
        select count(1)
        from
        history_customer_product
        <include refid="Example_Where_Clause_History2"/>
    </select>



    <!-- *******************************历史入库信息********************************** -->
    <!-- 查询入库信息列表 -->
    <select id="querySearchEnterInvLocationHistory"  resultType="com.wms.entity.SearchEnterInvLocation" parameterType="Object">
        SELECT * from
        history_enter_invlocation

        <include refid="Example_Where_Clause_History3"/>
        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>
    </select>
    <!-- 入库信息 列表总数-->
    <select id="querySearchEnterInvLocationHistoryCount" resultType="java.lang.Integer" parameterType="Object">
        SELECT
        count(1) from
        history_enter_invlocation
        <include refid="Example_Where_Clause_History3"/>
    </select>



    <!-- *******************************历史出库信息********************************** -->
    <!-- 查询出库信息列表 -->
    <select id="querySearchOutInvLocationHistory"  resultType="com.wms.entity.SearchOutInvLocation" parameterType="Object">
        SELECT * from history_out_invlocation

        <include refid="Example_Where_Clause_History4"/>

        <if test="limitClause != null and limitClause != ''" >
            ${limitClause}
        </if>
    </select>
    <!-- 出库信息 列表总数-->
    <select id="querySearchOutInvLocationHistoryCount" resultType="java.lang.Integer" parameterType="Object">
        SELECT count(1) from history_out_invlocation

        <include refid="Example_Where_Clause_History4"/>
    </select>
</mapper>
