<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mybatis.dao.ViewInvLocationMybatisDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.wms.entity.ViewInvLocation" >
	<result column="fmcustomerid" property="fmcustomerid"/>
	<result column="fmlocation" property="fmlocation"/>
	<result column="fmqty" property="fmqty"/>
	<result column="fmsku" property="fmsku"/>
	<result column="fmuom_name" property="fmuomName"/>
	<result column="i_mv" property="iMv"/>
	<result column="i_pa" property="iPa"/>
	<result column="i_rp" property="iRp"/>
	<result column="o_mv" property="oMv"/>
	<result column="o_rp" property="oRp"/>
	<result column="fmqty_each" property="fmqtyEach"/>
	<result column="qtyallocated" property="qtyallocated"/>
	<result column="qtyallocated_each" property="qtyallocatedEach"/>
	<result column="qtyavailed" property="qtyavailed"/>
	<result column="qtyholded_each" property="qtyholdedEach"/>
	<result column="qtyholded" property="qtyholded"/>
	<result column="skudescrc" property="skudescrc"/>
	<result column="skudescre" property="skudescre"/>
	<result column="totalcubic" property="totalcubic"/>
	<result column="totalgrossweight" property="totalgrossweight"/>
	<result column="warehouseid" property="warehouseid"/>
	<result column="customerid" property="customerid"/>
	<result column="lotatt14" property="lotatt14"/>
	<result column="lotatt03" property="lotatt03"/>
	<result column="lotatt12" property="lotatt12"/>
	<result column="lotatt04" property="lotatt04"/>
	<result column="lotatt05" property="lotatt05"/>
	<result column="lotatt06" property="lotatt06"/>
	<result column="lotatt07" property="lotatt07"/>
	<result column="lotatt01" property="lotatt01"/>
	<result column="lotatt02" property="lotatt02"/>
	<result column="lotatt08" property="lotatt08"/>
	<result column="lotatt09" property="lotatt09"/>
	<result column="lotatt11" property="lotatt11"/>
	<result column="lotatt10" property="lotatt10"/>
	<result column="name" property="name"/>
	<result column="enterprise_name" property="enterpriseName"/>
	<result column="defaultreceivinguom" property="defaultreceivinguom"/>

</resultMap>
       
<!-- View_Inv_Location table all fields -->
<sql id="Base_Column_List" >
	 fmcustomerid,fmlocation,fmqty,fmsku,fmuom_name,i_mv,i_pa,i_rp,o_mv,o_rp,fmqty_each,qtyallocated,qtyallocated_each,defaultreceivinguom,qtyavailed,qtyholded,qtyholded_each,skudescrc,skudescre,totalcubic,totalgrossweight,warehouseid,lotatt01,lotatt02,lotatt03,lotatt11,lotatt12,lotatt07,lotatt04,lotatt05,lotatt06,lotatt08,lotatt10,lotatt14,customerid,enterprise_name,`name`
</sql>
   

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="condition.fmcustomerid != null and condition.fmcustomerid != ''" >
	    and fmcustomerid =  #{condition.fmcustomerid}
	</if>
	<if test="condition.fmlocation != null and condition.fmlocation != ''" >
	    and fmlocation =  #{condition.fmlocation}
	</if>
	<if test="condition.fmqty != null and condition.fmqty != ''" >
	    and fmqty =  #{condition.fmqty}
	</if>
	<if test="condition.fmsku != null and condition.fmsku != ''" >
	    and fmsku =  #{condition.fmsku}
	</if>
	<if test="condition.fmuomName != null and condition.fmuomName != ''" >
	    and fmuom_name =  #{condition.fmuomName}
	</if>
	<if test="condition.iMv != null and condition.iMv != ''" >
	    and i_mv =  #{condition.iMv}
	</if>
	<if test="condition.iPa != null and condition.iPa != ''" >
	    and i_pa =  #{condition.iPa}
	</if>
	<if test="condition.iRp != null and condition.iRp != ''" >
	    and i_rp =  #{condition.iRp}
	</if>
	<if test="condition.oMv != null and condition.oMv != ''" >
	    and o_mv =  #{condition.oMv}
	</if>
	<if test="condition.oRp != null and condition.oRp != ''" >
	    and o_rp =  #{condition.oRp}
	</if>
	<if test="condition.qtyallocated != null and condition.qtyallocated != ''" >
	    and qtyallocated =  #{condition.qtyallocated}
	</if>
	<if test="condition.qtyavailed != null and condition.qtyavailed != ''" >
	    and qtyavailed =  #{condition.qtyavailed}
	</if>
	<if test="condition.qtyholded != null and condition.qtyholded != ''" >
	    and qtyholded =  #{condition.qtyholded}
	</if>
	<if test="condition.skudescrc != null and condition.skudescrc != ''" >
	    and skudescrc =  #{condition.skudescrc}
	</if>
	<if test="condition.skudescre != null and condition.skudescre != ''" >
	    and skudescre =  #{condition.skudescre}
	</if>
	<if test="condition.totalcubic != null and condition.totalcubic != ''" >
	    and totalcubic =  #{condition.totalcubic}
	</if>
	<if test="condition.totalgrossweight != null and condition.totalgrossweight != ''" >
	    and totalgrossweight =  #{condition.totalgrossweight}
	</if>
	<!--<if test="condition.warehouseid != null and condition.warehouseid != ''" >
	    and warehouseid =  #{condition.warehouseid}
	</if>-->
	<if test="condition.customerid != null and condition.customerid != ''" >
	    and customerid =  #{condition.customerid}
	</if>
	<if test="condition.lotatt01 != null and condition.lotatt01 != ''" >
	    and lotatt01 =  #{condition.lotatt01}
	</if>
	<if test="condition.lotatt02 != null and condition.lotatt02 != ''" >
	    and lotatt02 =  #{condition.lotatt02}
	</if>
	<if test="condition.lotatt03 != null and condition.lotatt03 != ''" >
	    and lotatt03 =  #{condition.lotatt03}
	</if>
	<if test="condition.lotatt04 != null and condition.lotatt04 != ''" >
	    and lotatt04 like concat('%',#{condition.lotatt04},'%')
	</if>
	<if test="condition.lotatt05 != null and condition.lotatt05 != ''" >
	    and lotatt05 like concat('%',#{condition.lotatt05},'%')
	</if>
	<if test="condition.lotatt07 != null and condition.lotatt07 != ''" >
	    and lotatt07 =  #{condition.lotatt07}
	</if>
	<if test="condition.lotatt08 != null and condition.lotatt08 != ''" >
	    and lotatt08 =  #{condition.lotatt08}
	</if>
	<if test="condition.lotatt10 != null and condition.lotatt10 != ''" >
	    and lotatt10 =  #{condition.lotatt10}
	</if>
	<if test="condition.lotatt11 != null and condition.lotatt11 != ''" >
	    and lotatt11 =  #{condition.lotatt11}
	</if>
	<if test="condition.lotatt12 != null and condition.lotatt12 != ''" >
	    and lotatt12 =  #{condition.lotatt12}
	</if>
	<if test="condition.lotatt14 != null and condition.lotatt14 != ''" >
	    and lotatt14 =  #{condition.lotatt14}
	</if>
	<if test="condition.name != null and condition.name != ''" >
	    and `name` like concat('%',#{condition.name},'%')
	</if>
	<if test="condition.lotatt02Start != null" >
		and lotatt02 &gt;= #{condition.lotatt02Start}
	</if>
	<if test="condition.lotatt02End != null" >
		and lotatt02 &lt;= #{condition.lotatt02End}
	</if>
	<if test="condition.enterpriseName != null and condition.enterpriseName != ''" >
	    and enterprise_name =  #{condition.enterpriseName}
	</if>
	<if test="condition.customerSet != null" >
		<if test="condition.customerSet.isEmpty() == false" >
			and fmcustomerid in (
			<foreach collection="condition.customerSet" item="customerSet" index="index" separator="," >
				#{customerSet.id,jdbcType=VARCHAR}
			</foreach>
			)
		</if>
	</if>
</trim>
</sql>
   
<!-- 库存余量按库位 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from View_Inv_Location
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询库存余量按批次库位列表 -->
<select id="queryByPageList" resultMap="BaseResultMap"  parameterType="Object">
	select * from (
	select a.* from (
	select
	<include refid="Base_Column_List"/>
	from view_inv_location
	<include refid="Example_Where_Clause"/>
<!-- 	<if test="orderByClause != null and orderByClause != ''" > -->
<!--        order by fmcustomerid,fmsku,fmlocation -->
<!--     </if> -->
    order by fmcustomerid,fmsku,fmlocation
    ) a 
	) b
	where 1 = 1
    <if test="limitClause != null and limitClause != ''" >
       ${limitClause}
    </if>
</select>

<!-- 查询库存余量按批次库位列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from view_inv_location
	<include refid="Example_Where_Clause"/>
	<if test="orderByClause != null and orderByClause != ''" >
       order by fmcustomerid,fmsku,fmlocation
    </if>
</select>
  	
</mapper>   
